<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Taal</label>
  </div>
  <div class="field-body">
    <div class="select">
      <select name="lom1_taal" id="lom1_taal">
        <option value="nl">Nederlands</option>
        <option value="fr">Frans</option>
        <option value="de">Duitse</option>
        <option value="it">Italiaans</option>
        <option value="en">Engels</option>
        <option value="es">Spaans</option>
        <option value="aa">ver weg</option>
        <option value="ab">Abchazisch</option>
        <option value="af">Afrikaans</option>
        <option value="am">Amhaars</option>
        <option value="ar">Arabisch</option>
        <option value="as">Assamees</option>
        <option value="ay">Aymara</option>
        <option value="az">Azerbeidzjaans</option>
        <option value="ba">Bashkir</option>
        <option value="be">Wit-Russisch</option>
        <option value="bi">Bislama</option>
        <option value="bn">Bengaals</option>
        <option value="bo">Tibetaans</option>
        <option value="br">Breton</option>
        <option value="ca">Catalaans</option>
        <option value="cs">Tsjechisch</option>
        <option value="cy">Welch</option>
        <option value="da">Deens</option>
        <option value="dz">Bhutani</option>
        <option value="el">Grieks</option>
        <option value="eo">Esperanto</option>
        <option value="et">Ests</option>
        <option value="eu">baskisch</option>
        <option value="fa">Perzisch</option>
        <option value="fi">Fins</option>
        <option value="fj">Fiji</option>
        <option value="ga">Iers</option>
        <option value="gd">Schots Gaelic</option>
        <option value="gl">Galicisch</option>
        <option value="gn">Guarani</option>
        <option value="gu">Gujarati</option>
        <option value="ha">Hausa</option>
        <option value="he">Hebreeuws</option>
        <option value="hi">Hindi</option>
        <option value="hu">Hongaars</option>
        <option value="hr">Kroatisch</option>
        <option value="hu">Hongaars</option>
        <option value="hy">Armeens</option>
        <option value="ia">Interlingua</option>
        <option value="id">Indonesisch</option>
        <option value="ie">Interlingue</option>
        <option value="ik">Inupiak</option>
        <option value="is">IJslands</option>
        <option value="iu">Inuktitut (Eskimo)</option>
        <option value="ja">Japans</option>
        <option value="ka">Georgisch</option>
        <option value="kk">Kazachs</option>
        <option value="kl">Groenlands</option>
        <option value="km">Cambodjaans</option>
        <option value="kn">Kannada</option>
        <option value="ko">Koreaans</option>
        <option value="ks">Kasjmir</option>
        <option value="ku">Koerdisch</option>
        <option value="ky">Kirgizisch</option>
        <option value="la">Latijns</option>
        <option value="ln">Lingala</option>
        <option value="lo">Laotiaanse</option>
        <option value="lt">Litouws</option>
        <option value="lv">Lets, Lets</option>
        <option value="mg">Madagaskar-</option>
        <option value="mk">Macedonisch</option>
        <option value="ml">Malayalam</option>
        <option value="mn">Mongools</option>
        <option value="mr">Marathi</option>
        <option value="ms">Maleis-</option>
        <option value="mt">Maltees</option>
        <option value="my">Birmees</option>
        <option value="na">Nauru</option>
        <option value="ne">Nepalees</option>
        <option value="no">Noors</option>
        <option value="oc">Occitaans</option>
        <option value="om">(Afan) Oromo</option>
        <option value="or">Oriya</option>
        <option value="pa">Punjabi</option>
        <option value="pl">Pools</option>
        <option value="ps">Pashto, Pushto</option>
        <option value="pt">Portugees</option>
        <option value="qu">Quechua</option>
        <option value="rm">Reto-romantiek</option>
        <option value="rn">Kirundi</option>
        <option value="ro">Roemeense</option>
        <option value="ru">Russisch</option>
        <option value="rw">Kinyarwanda</option>
        <option value="sa">Sanskriet-</option>
        <option value="sd">Sindhi</option>
        <option value="sg">Sangro</option>
        <option value="sh">Servo-Kroatisch</option>
        <option value="si">Singalees</option>
        <option value="sk">Slowaaks</option>
        <option value="sl">Sloveens</option>
        <option value="sm">Samoaans</option>
        <option value="sn">Shona</option>
        <option value="so">Somalisch</option>
        <option value="sq">Albanees</option>
        <option value="sr">Servisch</option>
        <option value="ss">Siswati</option>
        <option value="st">Sesotho</option>
        <option value="su">Soedanees</option>
        <option value="sv">Zweeds</option>
        <option value="sw">Swahili</option>
        <option value="ta">Tamil</option>
        <option value="te">Telugu</option>
        <option value="tg">Tadzjiekse</option>
        <option value="th">Thais</option>
        <option value="ti">Tigrinya</option>
        <option value="tk">Turkmeens</option>
        <option value="tl">Tagalog</option>
        <option value="tn">Setswana</option>
        <option value="to">Tonga</option>
        <option value="tr">Turks</option>
        <option value="ts">Tsonga</option>
        <option value="tt">Tataars</option>
        <option value="tw">twee keer</option>
        <option value="ug">Oeigoerse</option>
        <option value="uk">Oekraïens</option>
        <option value="ur">Urdu</option>
        <option value="uz">Oezbeeks</option>
        <option value="vi">Vietnamees</option>
        <option value="vo">Volapuk</option>
        <option value="wo">Wolof</option>
        <option value="xh">Xhosa</option>
        <option value="yi">Jiddisch</option>
        <option value="yo">Yoruba</option>
        <option value="za">Zhuang</option>
        <option value="zh">Chinees</option>
        <option value="zu">Zulu</option>
      </select>
    </div>
  </div>
</div>
