<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">
      Maker(s)
      <button onclick="addPrdItem('prd_makers', 'prd_maker_input'); return false;" 
        class="button is-small is-rounded pu">+
      </button>
    </label>
  </div>
  <div class="field-body">
  </div>
</div>

<div id="prd_makers">
  <div class="field is-horizontal is-pulled-left" id="prd_maker_input">
    <div class="field-label is-normal">
      <label class="label">Maker</label>
    </div>
    <div class="field-body">
      <div class="select is-small">
        <select name="maker" id="meta_maker">
          <option value="maker">Maker</a>
          <option value="archiefvormer">Archiefvormer</a>
          <option value="auteur">Auteur</a> 
          <option value="acteur">Acteur</a> 
          <option value="cineast">Cineast</a> 
          <option value="componist">Componist</a> 
          <option value="choreograaf">Choreograaf</a>
          <option value="danser">Danser</a> 
          <option value="documentairemaker">Documentairemaker</a>
          <option value="fotograaf">Fotograaf</a> 
          <option value="geïnterviewde">Geïnterviewde</a> 
          <option value="interviewer">Interviewer</a> 
          <option value="kunstenaar">Kunstenaar</a> 
          <option value="muzikant">Muzikant</a> 
          <option value="performer">Performer</a> 
          <option value="producer">Producer</a> 
          <option value="productiehuis">Productiehuis</a> 
          <option value="regisseur">Regisseur</a> 
          <option value="schrijver">Schrijver</a> 
          <option value="opdrachtgever">Opdrachtgever</a>
        </select>
      </div>

      <input name="maker_custom" 
      class="input is-small ml-2 narrow-input" type="text" placeholder="">
      <button class="button delete is-danger ml-2" onclick="deletePrdItem(this); return false;"></button>

    </div> <!-- field-body -->
  </div> <!-- field -->
</div>

<div class="is-clearfix"></div>
