<div class="field is-horizontal mt-5">
  <div class="field-label is-normal">
    <label class="label">
      Publisher(s)
      <button onclick="addPrdItem('prd_publishers', 'prd_publisher_input'); return false;" 
        class="button is-small is-rounded pu">+
      </button>
    </label>
  </div>
  <div class="field-body">
  </div>
</div>

<div id="prd_publishers">
  <div class="field is-horizontal is-pulled-left" id="prd_publisher_input">
    <div class="field-label is-normal">
      <label class="label">Publisher</label>
    </div>
    <div class="field-body">
      <div class="select is-small">
        <select name="publisher" id="publisher">
          <option value="distributeur">Distributeur</a>
          <option value="exposant">Exposant</a>
          <option value="persagentschap">Persagentschap</a>
          <option value="publisher">Publisher</a>
        </select>
      </div>

      <input name="bijdrager_custom" 
      class="input is-small ml-2 narrow-input" type="text" placeholder="tekstveld">
      <button class="button delete is-danger ml-2" onclick="deletePrdItem(this); return false;"></button>

    </div>
  </div>
</div>

<div class="is-clearfix"></div>

