{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Metadata bewerken
{% endblock %}

{% block content %}

  <div class="columns edit-metadata-title">
    <div class="column">
  
      <h1 class="title">{{title}}</h1>
      <h2 class="subtitle pu mb-0 ml-1"><b>PID: {{pid}}</b></h2>
   
    </div> 
  </div>
  
  {% if mh_synced %}
    <div class="columns" id="data_saved_alert_box">
      <div class="column">
        <div class="notification is-success">
          <button class="delete" onclick="closeSavedAlert(); return false;"></button>
          De metadata voor item <b>{{pid}}</b> werd verstuurd naar Mediahaven. <br/>
        </div>
      </div>
    </div>
  {% else %}

    {% if mh_errors %}
    <div class="columns" id="data_saved_errors">
      <div class="column content">
        <div class="notification is-warning">
          <button class="delete" onclick="closeSavedAlert('data_saved_errors'); return false;"></button>
          De metadata voor item <b>{{pid}}</b> kon niet opgeslagen worden bij Mediahaven. <br/>
          Foutmeldingen:  <br/>
          <ul>
            {% for error in mh_errors: %}
            <li> {{ error }} </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif%}

  {% endif %}
  
  <form class="metadata_form" action="/edit_metadata?token={{token}}&pid={{pid}}&department={{department}}" method="POST" enctype="multipart/form-data">
    <div class="columns">
      <div class="column">
        <div id="player_container"></div>
  
        <script>
          flowplayer('#player_container', {
            src: '{{video_url}}',
            token: '{{flowplayer_token}}',
            poster: '{{keyframe}}?nocache='+Date.now(),
              subtitles:{ 
                tracks:[
                  { 
                    src: "https://archief-media.meemoo.be/viaa/MOB/TESTBEELD/0a5ed81f068d4b499c99bdcd2b1fd3da79e23eacf06d4e5db0b70c8a603935b8/0a5ed81f068d4b499c99bdcd2b1fd3da79e23eacf06d4e5db0b70c8a603935b8.srt",
                    label: "English",
                    id: "English-en",
                    default: true,
                    crossorigin: "anonymous" 
                  }
                ]
              }

          })
        </script>
        
  
        {% if item_type != 'Audio' %}
          <a class="button is-info mt-3" href="{{keyframe_edit_url}}" target="_blank">
            <ion-icon name="key-outline" class="pr-3"></ion-icon>
            Keyframe Aanpassen
          </a>
        {% endif %}
  
      </div>
    </div>
  
    {% include 'includes/hidden_fields.html' %}
    {% include 'metadata/components/algemene_section.html' %}
    {% include 'metadata/components/productie_section.html' %}
    {% include 'metadata/components/inhoud_section.html' %}
  
    <!-- ======================== Leerobject section ========================== -->
    <div class="hidden" id="redactie_api_url">deployed_server_url</div>
    <div class="hidden" id="pid">{{pid}}</div>
    <div class="hidden" id="item_type">{{item_type}}</div>
    <div class="hidden" id="item_languages">{{item_languages}}</div>
    <div class="hidden" id="item_eindgebruikers">{{item_eindgebruikers}}</div>
    <div class="hidden" id="item_themas">{{item_themas}}</div>
    <div class="hidden" id="item_vakken">{{item_vakken}}</div>
    <div class="hidden" id="item_vakken_legacy">{{item_vakken_legacy}}</div>
    <div class="hidden" id="item_onderwijsniveaus">{{item_onderwijsniveaus}}</div>
    <div class="hidden" id="item_onderwijsniveaus_legacy">{{item_onderwijsniveaus_legacy}}</div>
    <div class="hidden" id="item_onderwijsgraden">{{item_onderwijsgraden}}</div>
    <div class="hidden" id="item_onderwijsgraden_legacy">{{item_onderwijsgraden_legacy}}</div>
    <div class="hidden" id="item_keywords">{{item_keywords}}</div>
    <div class="hidden" id="item_keywords_cp">{{item_keywords_cp}}</div>

    <div id="app"></div>
  
    <!-- publicatiestatus logic is to be properly specified in ticket how this will work, 
      both how it is returned from mediahaven and what it implies when the checkbox is checked -->
  
    <div class="columns">
      <div class="column">
        <h2 class="title">Publicatiestatus</h2>
        <hr/>
        <label class="checkbox">
          {% if publish_item %}
            <input type="checkbox"
                   name="publicatiestatus_checked" 
                     id="publicatiestatus_checked" checked/>
          {% else %}
            <input type="checkbox"
                   name="publicatiestatus_checked"
                     id="publicatiestatus_checked"/>
          {% endif %}
          Dit item mag gepubliceerd worden op 
          <a target="blank" href="https://onderwijs.hetarchief.be">Het Archief voor Onderwijs.</a>
        </label>
      </div>
    </div>
  
    <button type="submit" class="button is-primary spring sticky-submit-button">
      Metadata opslaan
    </button>
  
  </form>

  <div class="form-footer-spacing"></div>
  
  <script type="text/javascript">
    // inject api url before dom ready for the vue component axios requests
    function setRedactieApiUrl(){
      injectApiUrl("redactie_api_url"); 
    }
  
    setRedactieApiUrl();
  </script>

{% endblock %}
