<html>
  <body>
  <h1>Mediahaven API mocked microserver v1</h1>
  <hr/>

  <h2>
    mocked mediahaven search queries possible:
  </h2>

  <table cellspacing=10>

    <thead>
      <tr><th>Title</th><th>PID</th></tr>
    </thead>

    <tbody>
      <tr><td>KLAAR: phishing is booming</td><td> <a href="/resources/media?q=%2B(ExternalId:416sx8rc0n)&startIndex=0&nrOfResults=25">416sx8rc0n</a> </td></tr>
      <tr><td>ATP Swiss Indoors Day 3C</td><td> <a href="/resources/media?q=%2B(ExternalId:qs5d8ncx8c)&startIndex=0&nrOfResults=25">qs5d8ncx8c</a> </td></tr>  
      <tr><td>Fietsstraten in centrum Gent</td><td> <a href="/resources/media?q=%2B(ExternalId:qsf7664p39)&startIndex=0&nrOfResults=25">qsf7664p39</a> </td></tr>
      <tr><td>Eigen jeugdfilm Rampzalige Bril</td><td> <a href="/resources/media?q=%2B(ExternalId:qskp7tns9q)&startIndex=0&nrOfResults=25">qskp7tns9q</a> </td></tr> 
      <tr><td>World Athletics Indoor Tour</td><td> <a href="/resources/media?q=%2B(ExternalId:qskw57fc60)&startIndex=0&nrOfResults=25">qskw57fc60</a> </td></tr>
      <tr><td>Pokljuka 1 day to go</td><td> <a href="/resources/media?q=%2B(ExternalId:qstd9n484b)&startIndex=0&nrOfResults=25">qstd9n484b</a> </td></tr>
      <tr><td>Meivaart der Antwerpsche Patronaten</td><td> <a href="/resources/media?q=%2B(ExternalId:qsxs5jbm5c)&startIndex=0&nrOfResults=25">qsxs5jbm5c</a> </td></tr>
      <tr><td>Audio fragment (404)</td><td> <a href="/resources/media?q=%2B(ExternalId:zc7rn43s84)&startIndex=0&nrOfResults=25">zc7rn43s84</a> </td></tr>
      <tr><td>tennismatch demo</td><td> <a href="/resources/media?q=%2B(ExternalId:tennismatch)&startIndex=0&nrOfResults=25">tennismatch</a> </td></tr>

    </tbody>

  </table>


  <h2>
    Mocked themas and vakken data:
  </h2>
  Work in progress. cfr ticket : https://meemoo.atlassian.net/browse/DEV-1878

  </body>
</html>

