interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/resources/media?q=%2B(ExternalId:qsxs5jbm5c)&startIndex=0&nrOfResults=25
  response:
    body:
      string: '{"totalNrOfResults":1,"startIndex":0,"mediaDataList":[{"offsetFrames":0,"fragmentStartFrames":0,"fragmentEndFrames":174,"fragmentDurationFrames":174,"offsetTimeCode":"00:00:00.000","fragmentStartTimeCode":"00:00:00.000","fragmentEndTimeCode":"00:00:06.960","fragmentDurationTimeCode":"00:00:06.960","mediaObjectId":"77b87e7238084ea195608310060fa834927ffb6c019e4eec8a20866ff9c2dfb4","fragmentId":"77b87e7238084ea195608310060fa834927ffb6c019e4eec8a20866ff9c2dfb401edfc6f7a3b466fbd52c7d29a88a1f3","externalId":"qsxs5jbm5c","title":"Meivaart
        der Antwerpsche Patronaten | De","description":"Optocht van kinderen met trommels
        en vlaggen naar grot, openluchtvergadering, pick-nick, plechtig lof.","date":"1937:01:01
        00:00:00","previewImagePath":"https://archief-media-qas.viaa.be/viaa/TESTBEELD/77b87e7238084ea195608310060fa834927ffb6c019e4eec8a20866ff9c2dfb4/keyframes/77b87e7238084ea195608310060fa834927ffb6c019e4eec8a20866ff9c2dfb401edfc6f7a3b466fbd52c7d29a88a1f3.jpg","thumbnailImagePath":"https://archief-media-qas.viaa.be/viaa/TESTBEELD/77b87e7238084ea195608310060fa834927ffb6c019e4eec8a20866ff9c2dfb4/keyframes-thumb/77b87e7238084ea195608310060fa834927ffb6c019e4eec8a20866ff9c2dfb401edfc6f7a3b466fbd52c7d29a88a1f3.jpg","videoPath":"https://archief-media-qas.viaa.be/viaa/TESTBEELD/77b87e7238084ea195608310060fa834927ffb6c019e4eec8a20866ff9c2dfb4/browse.mp4","originalFileName":"qsxs5jbm5c.mp4","width":0,"height":0,"keywords":[],"type":"Video","authors":[],"lastModifiedDate":"2022-02-04T09:15:25Z","archiveDate":"2019-10-16T13:46:14Z","exportable":true,"editable":true,"deletable":true,"isPublic":false,"ingestSpaceId":"","isInIngestSpace":false,"status":"FINISHED","browseStatus":"completed","originalStatus":"completed","archiveStatus":"on_disk","workflow":"CineNova","mdProperties":[{"value":[{"value":"reportage","attribute":"Trefwoord","dottedKey":null},{"value":"Silent
        Movie","attribute":"Trefwoord","dottedKey":null},{"value":"Belgium","attribute":"Trefwoord","dottedKey":null}],"attribute":"dc_subjects","dottedKey":null},{"value":"No","attribute":"is_there_a_sync_point","dottedKey":null},{"subKey":"multiselect","value":[{"value":"VIAA-INTRA_CP-METADATA-ALL","attribute":"multiselect","dottedKey":null},{"value":"VIAA-ONDERWIJS","attribute":"multiselect","dottedKey":null},{"value":"VIAA-ONDERZOEK","attribute":"multiselect","dottedKey":null},{"value":"VIAA-PUBLIEK-METADATA-LTD","attribute":"multiselect","dottedKey":null}],"attribute":"dc_rights_licenses","dottedKey":null},{"value":[{"value":"1j9765cj05","attribute":"is_verwant_aan","dottedKey":null}],"attribute":"dc_relations","dottedKey":null},{"value":[{"value":"Meivaart
        der Antwerpsche Patronaten  De.xml","attribute":"Bestandsnaam","dottedKey":null}],"attribute":"dc_identifier_localids","dottedKey":null},{"value":"OR-154dn75","attribute":"Original_CP_ID","dottedKey":null},{"value":"Unknown","attribute":"projection_speed","dottedKey":null},{"value":"Print","attribute":"material_type","dottedKey":null},{"value":"1:00:00","attribute":"estimate_preparation_time_for_digitisation","dottedKey":null},{"value":"66
        Meter","attribute":"length","dottedKey":null},{"value":"true","attribute":"lom_legacy","dottedKey":null},{"value":"borndigital","attribute":"sp_name","dottedKey":null},{"value":"\u003cpremis:premis
        version\u003d\"2.3\" xmlns:premis\u003d\"info:lc/xmlns/premis-v2\"\u003e\u003cpremis:event
        xmlns:premis\u003d\"info:lc/xmlns/premis-v2\" xmlns:mets\u003d\"http://www.loc.gov/METS/\"
        xmlns:revtmd\u003d\"http://nwtssite.nwts.nara/schema/\" xmlns:xlink\u003d\"http://www.w3.org/1999/xlink\"
        xmlns:xsi\u003d\"http://www.w3.org/2001/XMLSchema-instance\"\u003e\n\t\t\t\t\t\t\u003cpremis:eventIdentifier\u003e\n\t\t\t\t\t\t\t\u003cpremis:eventIdentifierType\u003eSP
        Event\u003c/premis:eventIdentifierType\u003e\n\t\t\t\t\t\t\t\u003cpremis:eventIdentifierValue\u003eINSPECTION-EVEN[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/resources/media?q=+(dc_relationsis_verwant_aan:qsxs5jbm5c)&startIndex=0&nrOfResults=25
  response:
    body:
      string: "{\"TotalNrOfResults\":1,\"StartIndex\":0,\"MediaDataList\":[{\"RightsManagement\":{\"Permissions\":{\"Export\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"],\"Write\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"],\"Read\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"]},\"ExpiryDate\":null,\"ExpiryStatus\":null},\"Structural\":{\"HasChildren\":false,\"FragmentStartFrames\":0,\"FragmentEndFrames\":0,\"Versioning\":{\"Status\":\"Untracked\",\"Version\":1},\"Sets\":{\"Set\":[]},\"Collections\":{\"Collection\":[]},\"Newspapers\":{\"Newspaper\":[]},\"Relations\":{},\"Fragments\":{},\"FragmentDurationTimeCode\":null,\"FragmentStartTimeCode\":null,\"FragmentEndTimeCode\":null,\"FragmentDurationFrames\":null},\"Technical\":{\"PronomId\":\"fmt/1218\",\"OriginalExtension\":\"srt\",\"FileSize\":233,\"MimeType\":\"text/plain\",\"Md5\":\"d7177f8b6bbd4da799565a3598332884\",\"Width\":null,\"Height\":null,\"ImageSize\":null,\"ImageOrientation\":null,\"ImageQuality\":null,\"VideoTechnical\":null,\"AudioTechnical\":null,\"VideoFormat\":null,\"DurationTimeCode\":null,\"StartTimeCode\":null,\"EndTimeCode\":null,\"DurationFrames\":null,\"StartFrames\":null,\"EndFrames\":null,\"VideoCodec\":null,\"VideoFps\":null,\"VideoBitRate\":null,\"BitRate\":null},\"Administrative\":{\"LastModifiedDate\":\"2022-02-04T09:15:16Z\",\"IsSynchronized\":false,\"IsOriginal\":true,\"OrganisationName\":\"testbeeld\",\"Workflow\":\"borndigital\",\"IsPreservation\":false,\"DepartmentName\":\"testbeeld\",\"UserLastModifiedDate\":\"2022-02-04T09:15:16.564000Z\",\"ArchiveDate\":\"2021:01:28
        14:33:14\",\"OrganisationLongName\":\"testbeeld\",\"RecordType\":\"Record\",\"RecordStatus\":\"Published\",\"IsAccess\":false,\"PublicationDate\":\"2021-01-28T13:33:13.451000Z\",\"ExternalId\":\"qsxs5jbm5c_closed\",\"DeleteStatus\":\"NotDeleted\",\"Type\":\"document\",\"OrganisationExternalId\":\"OR-h41jm1d\",\"IngestTape\":null},\"Dynamic\":{\"dc_relations\":{\"is_verwant_aan\":[\"qsxs5jbm5c\"]},\"external_id\":\"qsxs5jbm5c\",\"sp_name\":\"borndigital\",\"lom_legacy\":\"true\",\"PID\":\"qsxs5jbm5c_closed\",\"CP\":\"testbeeld\",\"dc_rights_licenses\":{\"multiselect\":[\"VIAA-ONDERWIJS\",\"VIAA-ONDERZOEK\",\"VIAA-INTRA_CP-CONTENT\",\"VIAA-INTRA_CP-METADATA-ALL\",\"VIAA-PUBLIEK-METADATA-LTD\"]},\"CP_id\":\"OR-h41jm1d\"},\"Descriptive\":{\"CreationDate\":\"2021:01:28
        14:33:12\",\"UploadedBy\":\"bulkupload@testbeeld\",\"KeyframeStart\":0,\"Description\":\"Subtitles
        for item qsxs5jbm5c\",\"OriginalFilename\":\"qsxs5jbm5c_closed.srt\",\"Title\":\"qsxs5jbm5c_closed.srt\",\"RightsOwner\":\"\xA9
        testbeeld\",\"Rights\":null,\"Keywords\":{\"Keyword\":[]},\"Categories\":{\"Category\":[]},\"Publisher\":null,\"Authors\":{},\"Location\":null,\"Address\":{},\"NonPreferredTerm\":null,\"Publications\":null},\"Internal\":{\"OriginalStatus\":\"completed\",\"PathToKeyframe\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"IsFragment\":false,\"UploadedById\":\"ff111a7a-efd0-44e3-8816-0905572421da\",\"HasKeyframes\":false,\"MediaObjectId\":\"17cb6a3ddcd94416890c00b717c6eeaa468e7f5ad6c64254a3ba2d413306a279\",\"ArchiveStatus\":\"on_disk\",\"BrowseStatus\":\"no_browse\",\"RecordId\":\"17cb6a3ddcd94416890c00b717c6eeaa468e7f5ad6c64254a3ba2d413306a279\",\"IsInIngestSpace\":false,\"OrganisationId\":\"111\",\"FragmentId\":\"17cb6a3ddcd94416890c00b717c6eeaa468e7f5ad6c64254a3ba2d413306a2798d73894f2db849bf999d97210b6d081a\",\"PathToKeyframeThumb\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"ContainsGeoData\":false,\"DepartmentId\":\"dd111b7a-efd0-44e3-8816-0905572421da\",\"IngestSpaceId\":null,\"Browses\":{},\"PathToVideo\":null},\"Context\":{\"IsEditable\":true,\"IsDeletable\":true,\"IsPublic\":false,\"IsExportable\":true}}]}"
    headers:
      Content-Type:
      - application/vnd.mediahaven.v2+json
      X-Correlation-ID:
      - ea7f7d39bc1a014becce7b041aad0df4
      X-MediaHavenVersion:
      - '21.3'
      X-RateLimit-Limit-second:
      - '10'
      X-RateLimit-Remaining-second:
      - '9'
    status:
      code: 200
      message: ''
version: 1
