interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://archief-qas.viaa.be/mediahaven-rest-api/resources/media?q=+(dc_relationsis_verwant_aan:qs5d8ncx8c)&startIndex=0&nrOfResults=25
  response:
    body:
      string: "{\"TotalNrOfResults\":2,\"StartIndex\":0,\"MediaDataList\":[{\"Dynamic\":{\"dc_relations\":{\"is_verwant_aan\":[\"qs5d8ncx8c\"]},\"external_id\":\"qs5d8ncx8c\",\"sp_name\":\"borndigital\",\"lom_legacy\":\"true\",\"PID\":\"qs5d8ncx8c_closed\",\"CP\":\"testbeeld\",\"dc_rights_licenses\":{\"multiselect\":[\"VIAA-ONDERWIJS\",\"VIAA-ONDERZOEK\",\"VIAA-INTRA_CP-CONTENT\",\"VIAA-INTRA_CP-METADATA-ALL\",\"VIAA-PUBLIEK-METADATA-LTD\"]},\"CP_id\":\"OR-h41jm1d\"},\"Internal\":{\"OriginalStatus\":\"completed\",\"PathToKeyframe\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"IsFragment\":false,\"PathToPreview\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"UploadedById\":\"ff111a7a-efd0-44e3-8816-0905572421da\",\"HasKeyframes\":false,\"MediaObjectId\":\"90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc\",\"ArchiveStatus\":\"on_disk\",\"BrowseStatus\":\"no_browse\",\"RecordId\":\"90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc\",\"IsInIngestSpace\":false,\"OrganisationId\":\"111\",\"FragmentId\":\"90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc8e4b6125da4f49448e6946104d114d44\",\"PathToKeyframeThumb\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"ContainsGeoData\":false,\"DepartmentId\":\"dd111b7a-efd0-44e3-8816-0905572421da\",\"IngestSpaceId\":null,\"Browses\":{},\"PathToVideo\":null},\"RightsManagement\":{\"Permissions\":{\"Write\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"],\"Export\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"],\"Read\":[\"dd111b7a-efd0-44e3-8816-0905572421da\",\"b75571b1-d7a3-4d6f-939e-deb345c1078a\"]},\"ExpiryDate\":null,\"ExpiryStatus\":null},\"Structural\":{\"HasChildren\":false,\"FragmentStartFrames\":0,\"FragmentEndFrames\":0,\"Versioning\":{\"Status\":\"Untracked\",\"Version\":1},\"Sets\":{\"Set\":[]},\"Collections\":{\"Collection\":[]},\"Newspapers\":{\"Newspaper\":[]},\"Relations\":{},\"Fragments\":{},\"FragmentDurationTimeCode\":null,\"FragmentStartTimeCode\":null,\"FragmentEndTimeCode\":null,\"FragmentDurationFrames\":null},\"Administrative\":{\"LastModifiedDate\":\"2022-02-04T09:15:29Z\",\"IsSynchronized\":false,\"IsOriginal\":true,\"OrganisationName\":\"testbeeld\",\"Workflow\":\"borndigital\",\"IsPreservation\":false,\"DepartmentName\":\"testbeeld\",\"UserLastModifiedDate\":\"2022-02-04T09:15:29.355000Z\",\"ArchiveDate\":\"2021:01:27
        11:30:59\",\"OrganisationLongName\":\"testbeeld\",\"RecordType\":\"Record\",\"RecordStatus\":\"Published\",\"IsAccess\":false,\"PublicationDate\":\"2021-01-27T10:30:58.333000Z\",\"ExternalId\":\"qs5d8ncx8c_closed\",\"DeleteStatus\":\"NotDeleted\",\"Type\":\"document\",\"MainRecordType\":\"Record\",\"OrganisationExternalId\":\"OR-h41jm1d\",\"IngestTape\":null},\"Descriptive\":{\"CreationDate\":\"2021:01:27
        11:30:57\",\"UploadedBy\":\"bulkupload@testbeeld\",\"KeyframeStart\":0,\"Description\":\"Subtitles
        for item qs5d8ncx8c\",\"OriginalFilename\":\"qs5d8ncx8c_closed.srt\",\"Title\":\"qs5d8ncx8c_closed.srt\",\"RightsOwner\":\"\xA9
        testbeeld\",\"Rights\":null,\"Keywords\":{\"Keyword\":[]},\"Categories\":{\"Category\":[]},\"Publisher\":null,\"Authors\":{},\"Location\":null,\"Address\":{},\"NonPreferredTerm\":null,\"Publications\":null},\"Technical\":{\"PronomId\":\"fmt/1218\",\"OriginalExtension\":\"srt\",\"FileSize\":192,\"MimeType\":\"text/plain\",\"Md5\":\"761ba5c45a4c53874914cdb555f2dc58\",\"Width\":null,\"Height\":null,\"ImageSize\":null,\"ImageOrientation\":null,\"ImageQuality\":null,\"VideoTechnical\":null,\"AudioTechnical\":null,\"VideoFormat\":null,\"DurationTimeCode\":null,\"StartTimeCode\":null,\"EndTimeCode\":null,\"DurationFrames\":null,\"StartFrames\":null,\"EndFrames\":null,\"VideoCodec\":null,\"VideoFps\":null,\"VideoBitRate\":null,\"BitRate\":null},\"Context\":{\"IsEditable\":true,\"IsDeletable\":true,\"IsPublic\":false,\"IsExportable\":true}},{\"Dynamic\":{\"dc_relations\":{\"is_verwant_aan\":[\"qs5d8ncx8c\"]},\"sp_name\":\"borndigital\",\"lom_legacy\":\"true\",\"PID\":\"qs5d8ncx8c_open\",\"CP\":\"testbeeld\",\"dc_rights_licenses\":{\"multiselect\":[\"VIAA-ONDERWIJS\",\"VIAA-ONDERZOEK\",\"VIAA-INTRA_CP-CONTENT\",\"VIAA-INTRA_CP-METADATA-ALL\",\"VIAA-PUBLIEK-METADATA-LTD\"]},\"CP_id\":\"OR-h41jm1d\",\"NeedsPublicationDateMigration\":\"true\"},\"Internal\":{\"OriginalStatus\":\"completed\",\"PathToKeyframe\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"IsFragment\":false,\"PathToPreview\":\"https://mheuropehot.blob.core.windows.net/mediahaven-saas-browse-main/no-preview.png\",\"UploadedById\":\"ff111a7a-efd0-44e3-8816-0905572421da\",\"HasKeyframes\":false,\"MediaObjectId\":\"f6c85673050f4c8986e022805b03a13dd0f5c6f03f164754a29e37c8a112d2c3\",\"ArchiveStatus\":\"on_disk\",\"BrowseS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://archief-media-qas.viaa.be/viaa/MOB/TESTBEELD/90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc/90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc.srt
  response:
    body:
      string: "\uFEFF1\r\n00:00:01,000 --> 00:00:03,023\r\nTweede subtitle test\r\n\r\n2\r\n00:00:03,676
        --> 00:00:15,930\r\nGewone tekst hier\r\n\r\n3\r\n00:00:16,972 --> 00:50:16,350\r\nGewone
        tekst hier 50 minuten lang ;)\r\n\r\n\r\n"
    headers:
      Content-Type:
      - application/x-binary
      Etag:
      - '"a90fa4375577a6b963dbc766da7f82c0"'
      Last-Modified:
      - Wed, 27 Jan 2021 10:31:13 GMT
      Volume:
      - db6e50bba2c2ee4692226c8a0292137d
      X-Correlation-ID:
      - 6cb8cd3d10cad246b0802c0a0e9d2d76
      x-viaa-meta-cpid:
      - OR-h41jm1d
      x-viaa-meta-duration:
      - None
      x-viaa-meta-externalid:
      - qs5d8ncx8c_closed
      x-viaa-meta-noid:
      - qs5d8ncx8c_closed
      x-viaa-meta-umid:
      - 90d350224fa34d9b8a48461c5e389fc7996a4faf24af4f9e94efdd31922683dc
      x-viaa-meta-version:
      - '20.3'
    status:
      code: 200
      message: OK
version: 1
