
#player_container{
  border-radius: 8px;
}


/* to be stripped 
 
pre {
  background-color: #ddefef;
  border: 1px solid #324b5e;
  padding: 1em;
  padding-bottom: 0;
  border-radius: 5px;
  padding-bottom: 1.2em;
}

label {
  display:inline-block;
  width: 7.8em;
  text-align: right;
}


form {
  padding: 0.5em;
  border: 1px solid #324b5e;
  border-radius: 8px;
  background-color: #fff;
  width: 440px;
}
input {
  margin: 0.5em;
  width: 240px;
  border: 1px solid #bac7d1;
  height: 32px;
  border-radius: 5px;
  padding-left: 1em;
  transition: ease-in-out, width .35 ease-in-out;
}
input.readonly {
  border: none;
  background-color: #fff;
}

textarea:read-only {
  border: none;
  background-color: #fff;
}

input:disabled {
  border: none;
  background-color: #fff;
}

textarea:disabled {
  border: none;
  background-color: #fff;
}


textarea {
  vertical-align: top;
  width: 370px;
  height: 210px;
}

form.login_form input[type=submit]{
  margin-left: 135px;
  height: 40px;
}

form.upload_form {
  width: 30em;
}

form.upload_form label {
  padding-left: 1em;
  width: 9em;
  text-align:left;
}

form.upload_form input[type=submit]{
  margin-left: 10px;
}

form.upload_form a.grey-button{
  margin-left: 214px;
  padding:5px;
  padding-left: 20px;
  padding-right: 20px;
}


#subtitle_type, #transfer_method {
  width: 140px;
  margin-top: 5px;
}


 */


a.button.disabled {
  background-color: #ccc;
  border: #ddd;
}

a.grey-button {
  display: inline-block;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 7px;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  background-color: #edeff2;
  padding-left:20px;
  padding-right:20px;
}

a.grey-button.disabled{
  color: #fff;
  border: 1px solid #ccc;
  background-color: #ccc;
}



a.cancel-button {
  display: inline-block;
  color: #000;
  float: left;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
  margin-top: 19px;
  width: 8em;
  text-align: center;
  background-color: #edeff2;
}

a.cancel-button.disabled{
  color: #fff;
  border: 1px solid #ccc;
  background-color: #ccc;
}






.pid-view {
  display: inline-block;
  word-break: break-all;
  width: 245px;
  vertical-align: top;
  margin-top: 8px;
}


/* to be stripped, because of... BULMA!
form.validate_form label {
  padding-left: 1em;
  width: 9em;
  text-align: left;
}

form.validate_form input[type=submit]{
  margin-top: 19px;
  margin-left: 1em;
  width: 10em;
}


form.validate_form{
  width: 100%;
}

form.validate_form a.cancel-button {
  margin-left: 170px;
}
select {
  border: 1px solid #bac7d1;
  padding: 0.4em;
  border-radius: 5px;
  margin-left: 1.3em;
  width: 132px;
}

input[type=file] {
  padding-top: 0.3em;
  padding-left: 0.3em;
  width: 270px;
}
*/

form.validate_form #subtitle_file {
  border: none; 
  width: 280px;
  padding-left: 0px;
}


.center_page{
  width: 25em;
  margin: auto;
  margin-top: 4em;
}


.form_errors {
  float: right;
  margin-right: 2em;
  color: #aa0000;
}

.left_page {
  width: 48%;
  float: left;
}

.right_page{
  width: 48%;
  float: right;
}


textarea.subtitles {
  margin-left: 1em;
  width: 33em;
  height: 10em;
}

.check {
  margin-left: 10px;
  display: inline-block;
  transform: rotate(45deg);
  height: 17px;
  width: 8px;
  border-bottom: 4px solid #78b13f;
  border-right: 4px solid #78b13f;
}

.center_box {
  width: 800px;
  margin: auto;
}

.finished_box {
  padding: 0.5em;
  border: 1px solid #324b5e;
  border-radius: 8px;
  background-color: #fff;
}

.finished_box .grey-button {
  margin-left: 382px;
  margin-right: 10px;
}

h3.video_title {
  margin-top: -36px;
}

table.video_details {
  table-layout: fixed;
  width: 100%;
}

table.video_details td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #324b5e;

  word-wrap: break-word;
  overflow-wrap: break-word;
}





form.confirm_form {
  margin-top: 20px;
  border: none;
  background-color: unset;
  border-radius: unset;
  width: 110px;
  float: right;
}

input.cancel {
  margin-left: 0px;
  margin-right: 20px;
  border: 1px solid #aaa;
  color: #000;
  border-radius: 5px;
  background-color: #edeff2;
}

input.replace {
  margin-left: 0px;
  margin-right: 20px;
}

.replace_dialog{
  width: 500px;
  margin: auto;
}
.replace_dialog_box {
  height: 120px;
  width: 500px;
}

input[type=submit]:disabled.replace{
  padding-left: 5px;
  width: 108px;
  margin-left: 0px;
}

input[type=submit]:disabled.cancel{
  padding-left: 5px;
  width: 108px;
  margin-left: 0px;
}


.login_logout {
    float: right;
    padding-top: 10px;
}

.login_logout a {
  border: 1px solid #bac7d1;
  background-color: #26a4cf;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.login_logout a:hover {
  background-color: #46a4ff;
}

.saml {
  margin-left: 34%;
  margin-top: 5px;
}
