/*********************** START OF PAGE CSS CUSTOMIZATION ***********************
 * Author: Walter Schreppers
 ******************************************************************************/

#player_container{
  border-radius: 8px;
}

a.button.disabled {
  background-color: #ccc;
  border: #ddd;
}

a.grey-button {
  display: inline-block;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 7px;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  background-color: #edeff2;
  padding-left:20px;
  padding-right:20px;
}

a.grey-button.disabled{
  color: #fff;
  border: 1px solid #ccc;
  background-color: #ccc;
}

a.cancel-button {
  display: inline-block;
  color: #000;
  float: left;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 6px;
  text-decoration: none;
  margin-top: 19px;
  width: 8em;
  text-align: center;
  background-color: #edeff2;
}

a.cancel-button.disabled{
  color: #fff;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.pid-view {
  display: inline-block;
  word-break: break-all;
  width: 245px;
  vertical-align: top;
  margin-top: 8px;
}

form.validate_form #subtitle_file {
  border: none; 
  width: 280px;
  padding-left: 0px;
}

.center_page{
  width: 25em;
  margin: auto;
  margin-top: 4em;
}

.check {
  margin-left: 10px;
  display: inline-block;
  transform: rotate(45deg);
  height: 17px;
  width: 8px;
  border-bottom: 4px solid #78b13f;
  border-right: 4px solid #78b13f;
}

.center_box {
  width: 800px;
  margin: auto;
}

.finished_box {
  padding: 0.5em;
  border: 1px solid #324b5e;
  border-radius: 8px;
  background-color: #fff;
}

.finished_box .grey-button {
  margin-left: 382px;
  margin-right: 10px;
}

h3.video_title {
  margin-top: -36px;
}

table.video_details {
  table-layout: fixed;
  width: 100%;
}

table.video_details td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #324b5e;

  word-wrap: break-word;
  overflow-wrap: break-word;
}


form.confirm_form {
  margin-top: 20px;
  border: none;
  background-color: unset;
  border-radius: unset;
  width: 110px;
  float: right;
}

input.cancel {
  margin-left: 0px;
  margin-right: 20px;
  border: 1px solid #aaa;
  color: #000;
  border-radius: 5px;
  background-color: #edeff2;
}

input.replace {
  margin-left: 0px;
  margin-right: 20px;
}

.replace_dialog{
  width: 500px;
  margin: auto;
}
.replace_dialog_box {
  height: 120px;
  width: 500px;
}

input[type=submit]:disabled.replace{
  padding-left: 5px;
  width: 108px;
  margin-left: 0px;
}

input[type=submit]:disabled.cancel{
  padding-left: 5px;
  width: 108px;
  margin-left: 0px;
}


/* menu login/logout tweaks to pull to right */
@media screen and (min-width: 1024px){
  .navbar-login-logout {
    right: 10px;
    position: fixed;
    height: 52px;
  }

  .navbar-item.button.is-info.ml-2.mr-2:hover{
    background-color: #3082c5;
    border-color: transparent;
    color: #fff;
  }
}

/********************* START OF CSS ANIMATION EYE CANDY ***********************/
/* inspiration https://code-boxx.com/ 
 * wiggle the validation error line so that it gets the users attention
 */
.animate-errors{
  animation: wiggle 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 3;
}

@keyframes wiggle { 
  0% {
    transform: translateX(0); 
  }
  10% {
    transform: translateX(-5px); 
  }
  30% { 
    transform: translateX(-30px); 
  }
  50% { 
    transform: translateX(-20); 
  }
  100% { 
    transform: translateX(0px); 
  }
}

input[type=button].spring {
  background: #ffd6c9;
  border: 2px solid #e21818;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
input[type=button].spring:hover {
  animation: none;
}

@keyframes spring { 
  0% {
    transform: scale(1) translateY(0); 
  }
  10% {
    transform: scale(1.2, 0.6); 
  }
  30% { 
    transform: scale(0.8, 1.1) translateY(-30px); 
  }
  50% { 
    transform: scale(1) translateY(0); 
  }
  100% { 
    transform: translateY(0); 
  }
}

.spring {
  animation: spring 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}


/************************ SAML LOGIN/LOGOUT STYLING **************************/
.login_logout {
    float: right;
    padding-top: 2px;
}

.login_logout a {
  border: 1px solid #bac7d1;
  background-color: #26a4cf;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.login_logout a:hover {
  background-color: #46a4ff;
}


.label {
  min-width: 122px;
}

/*
.pu {
  margin-top: -3px;
}

.narrow-input {
  width: 18em;
}
*/

hr {
  margin-top: -14px;
  background: #363636;
  height: 1px;
  /* imho this looks nicer:
   * display: none;
   */
}
.saml {
  margin-left: 34%;
  margin-top: 5px;
}


.saml-login-page {
  background: url('/static/images/saml_login_background.jpg') no-repeat center;
  background-size: cover;
  background-position: center;
  width: 140%;
  margin-left: -20%;
  height: 100vh;
  margin-bottom: -80px;
  margin-top: -80px;
  padding-top: 180px;
  padding-left: 20%;
  padding-right: 20%;
}

@media screen and (min-width: 1024px){
  .saml-login-page{
    padding-left: 39%;
    padding-right: 39%;
  }
}

@media screen and (min-width: 1310px){
  .saml-login-page{
    width: 100vw;
    position: fixed;
    left: 0px;
    margin-left: unset;
    margin-right: unset;
    padding-left: 30%;
    padding-right: 30%;
  }
}

#saml_login_box {
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


/**************************** METADATA EDIT STYLING ***************************/
.minimize-icon-wrapper{
  float: right;
}

.icon-folded {
  display: none;
}

/* make it more visible what controls are readonly */
.input[readonly], .textarea[readonly] {
    box-shadow: none;
    background-color: #eee;
    border: 1px solid #ddd;
}


.sticky-submit-button {
  /*
    position: fixed;
    bottom: 20px;
    right: 14%;
  */
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  float: right;
}

.prd-subtitle {
  width: 6em;
  display: inline-block;
}
.prd-widget {
  margin-left: 15px;
  min-width: 380px; 
  width: 47%; 
  float: left;
}
.prd-widget-list .prd-widget:nth-child(2n){
  margin-left: 30px;
}
.full-width {
  width: 100%;
}

@media screen and (max-width: 888px){
  .prd-widget{
    margin-left: 15px;
    width: 100%;
    float: none;
    padding-right: 15px;
  }
  .prd-widget-list .prd-widget:nth-child(2n){
    margin-left: 15px;
  }
}

#prd_maker{
  display: none;
}

#prd_bijdrager{
  display: none;
}

#prd_publisher{
  display: none;
}

h3.subtitle{
  color: #363636;
  font-weight: bold;
  margin-bottom: 7px !important;
} 

#algemeen_title {
  margin-top: -26px;
}

@media screen and (min-width: 768px){
  #algemeen_title_right{
    margin-top: -34px;
  }

  #algemeen_title {
    margin-top: -34px;
  }
}

.prd-del-btn {
  margin-top: 4px !important;
  margin-left: 5px !important;
}

#alert_box {
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
}

.edit-metadata-title {
  margin-bottom: -20px !important;
}

.hidden {
  display:none;
}

#production_section{
  display: none;
}

.form-footer-spacing {
  height: 120px;
}


/* ====================== Richtext editor / quill styling =====================*/
.richtext-wrapper {
  width: 100%;
}

.ql-toolbar {
  background-color: #fff;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.ql-editor{
  min-height: 20em;
  overflow-y: scroll;
  resize: vertical;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  background-color: #fff;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'Normaal' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: 'Titel' !important;
}

/*
 .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: 'Titel h1';
}
*/

table.subtitle-upload-results {
  background: transparent;
}

table.subtitle-upload-results td {
  border: none;
}

table.subtitle-upload-results tr {
  border: none;
}
