{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitels valideren
{% endblock %}

{% block content %}

<div class="columns">
  <div class="column">
    <h1 class="title">{{title}}</h1>
    <h2 class="subtitle pu mb-0 ml-1"><b>PID: {{pid}}</b></h2>
  </div>
</div>


<div class="columns">

  <div class="column is-half">
    <div id="player_container"></div>
    <script>
      flowplayer('#player_container', {
        token: '{{flowplayer_token}}',
        src: '{{video_url}}',
        poster: '{{keyframe}}?nocache='+Date.now(),
        subtitles:{ 
          tracks:[
            { 
              src: "/subtitles/{{vtt_file}}",
              label: "Nederlands",
              id: "Nederlands-nl",
              default: true,
              crossorigin: "anonymous" 
            }
          ]
        }
      })
    </script>
  </div>

  <div class="column is-half">

    <h2 class="subtitle"><b>Ondertitelbestand</b><div class="check"></div></h2>

    <form class="validate_form" action="/send_to_mam" method="POST" enctype="multipart/form-data">

      {% include 'includes/hidden_fields.html' %}
      <input type="hidden" name="subtitle_file" value='{{subtitle_file}}'/> 
      <input type="hidden" name="vtt_file" value='{{vtt_file}}'/>

      <div class="field">
        <label class="label">Type</label>
        <div class="control">
          <div class="select">
            <select name="subtitle_type" id="subtitle_type">
              <option value="open" {{'selected="selected"' if subtitle_type=='open'}}>Open</option>
              <option value="closed" {{'selected="selected"' if subtitle_type=='closed'}}>Closed</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Bestandsnaam</label>
        <div class="control">
          {{subtitle_file}} 
        </div>
      </div>

      <!-- 
      <label>Toevoegen met</label><br/>
      <select name="transfer_method" id="transfer_method">
        <option value="ftp" {{'selected="selected"'}}>FTP upload</option>
        (api mode is disabled until mediahaven call is fixed to upload directly)
        option value="api" with label = Mediahaven API ...
      </select>
      include 'includes/form_errors.html'
      -->

      {% include 'includes/flash_errors.html' %}

      <div class="field is-grouped is-pulled-right">
        <div class="control">
          <a href="{{ url_for('.cancel_upload', 
              pid=pid, 
              department=department,
              srt_file=subtitle_file, 
              vtt_file=vtt_file,
              token=token
             )}}" 
             id="preview_cancel"
             onclick="previewCancel(this);"
            class="button is-link is-light">
           Wissen
          </a>
        </div>
        <div class="control">
          <button id="preview_submit" type="submit"
                  class="button is-link"
                  onclick="previewSubmit(this);">
            Toevoegen
          </button>
        </div>
      </div>


    </form>
  </div>

</div>

{% endblock %}
