{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Redactietool - Ondertitelbestand
{% endblock %}

{% block content %}


<div class="columns">
  <div class="column">
    <h1 class="title">{{title}} titel hier</h1>
    <h2 class="subtitle pu mb-0 ml-1"><b>PID: {{pid}}</b></h2>
  </div>
</div>


<div class="columns">
  <div class="column is-half">
    <div id="player_container"></div>
    <script>
      flowplayer('#player_container', {
        token: '{{flowplayer_token}}',
        src: '{{video_url}}',
        poster: '{{keyframe}}?nocache='+Date.now(),
        subtitles:{ 
          tracks:[
            { 
              src: "/item_subtitles/{{department}}/{{pid}}/{{subtitle_type}}",
              label: "Nederlands",
              id: "Nederlands-nl",
              default: true,
              crossorigin: "anonymous" 
            }
          ]
        }
      })
    </script>
  </div>

  <div class="column is-half">

    {% if upload_cancelled %}
      <h2 class="subtitle sent-status">Bestaande ondertitels werden behouden</h2>
    {% else %}
      {% if mh_error %}
        <h2 class="subtitle sent-status">Er liep iets verkeerd bij het uploaden van je ondertitels.</h2>
      {% else %}
        <h2 class="subtitle sent-status">
          De ondertitels werden succesvol opgeladen.
        </h2>
      {% endif %}
    {% endif%}

    <h3 class="subtitle is-clickable collapsable" onclick="sectionToggle('upload_info_section')">
      Meer info
      <div class="minimize-icon-wrapper" id="upload_info_section_icon">
        <span class="icon-unfolded">
          <ion-icon name="chevron-down-circle-outline"></ion-icon>
        </span>
        <span class="icon-folded">
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </span>
      </div>
    </h2>
    <hr/>


    <div id="upload_info_section">
      <table class="table is-fullwidth subtitle-upload-results">
        <tr> <td><b>PID:</b></td>               <td><b>{{pid}}</b></td> </tr>
        <tr> <td><b>Ondertitel type:</b></td>   <td>{{subtitle_type}}</td> </tr>
        <tr> <td><b>Ondertitelbestand:</b></td> <td>{{srt_file}}</td> </tr>
        {% if not upload_cancelled %}
          <tr><td><b>Sidecar xml file:</b></td><td>{{xml_file}}</td></tr>
          <tr>
            <td colspan="2">
              <b>Sidecar data:</b> <br/>
              <textarea 
                class="textarea is-hover" 
                placeholder="Sidecar data..." 
                cols="45"
                rows="5" readonly>{{xml_sidecar}}</textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <b>Mediahaven response:</b> <br/>
              <textarea 
                class="textarea is-hover" 
                placeholder="Mediahaven response..." 
                cols="45"
                rows="5" readonly>{{mh_response}}</textarea>
            </td>
          </tr>
        {% endif %}

      </table>
    </div>

      <div class="field is-grouped is-pulled-right">
        <div class="control">
          <a
            id="change_metadata"
            type="submit"
            class="button is-link"
            href="/edit_metadata?token={{token}}&pid={{pid}}&department={{department}}"
          >
            Metadata bewerken
          </a>
        </div>
      </div>
    </div>
  </div>
<br/><br/>

{% endblock %}
