{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitelbestand
{% endblock %}

{% block content %}


<div class="columns">
  <div class="column">
    <h1 class="title">{{title}}</h1>
    <h2 class="subtitle pu mb-0 ml-1"><b>PID: {{pid}}</b></h2>
  </div>
</div>

<div class="columns">

  <div class="column is-half">
    <div id="player_container"></div>
    <script>
      flowplayer('#player_container', {
        src: '{{video_url}}',
        token: '{{flowplayer_token}}',
        poster: '{{keyframe}}?nocache='+Date.now()
      })
    </script>
  </div>

  <div class="column is-half">
    <form class="upload_form" action="/upload" method="POST" enctype="multipart/form-data">
      {% include 'includes/hidden_fields.html' %}
      
      <div class="field">
        <label class="label">Selecteer type ondertitelbestand</label>
        <div class="control">
          <div class="select">
            
            <select name="subtitle_type" id="subtitle_type">
              <option value="closed">Closed</option>
              <option value="open">Open</option>
            </select>

          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Kies ondertitelbestand</label>
        <div class="control">
          <input name="subtitle_file" class="input" type="file" placeholder="SRT bestand">
        </div>
      </div>

      {% include 'includes/form_errors.html' %}
      <br/>

      <div class="field is-grouped is-pulled-right">
        <div class="control">
          <a id="upload_cancel" class="button is-link is-light"
            onclick="uploadCancel(this);"
            href="/edit_metadata?token={{token}}&pid={{pid}}&department={{department}}">
            Annuleren
          </a>
        </div>
        <div class="control">
          <button 
            type="submit"
            class="button is-link"
            onclick="uploadSubmit(this);"
          >
            Preview
          </button>
        </div>
      </div>

    </form>
  </div>

</div>

{% endblock %}
