<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meemoo Redactietool</title>
    <link rel="stylesheet" href="dist/css/mystyles.css">
    <link rel="stylesheet" href="src/overrides.css">
    <script src="src/modal_dialog.js"></script>
    <script src="dist/js/bundle.js"></script>
  </head>
  <body>

    <!-- main menu bar restyled to match original but now with modern bulma which also works on mobile...-->
    <nav class="navbar is-fixed-top is-primary has-text-white" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-white" href="index.html">
          <img src="http://localhost:8080/static/avo-logo-i.svg" width="150" class="mr-4">

          <ion-icon name="create-outline" class="mr-1 mb-1"></ion-icon>
          Redactietool
        </a>

        <!-- add class is-active to turn into a cross -->
        <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

          <a class="navbar-item">
            PID
          </a>
          <a class="navbar-item">
            Preview
          </a>
          <a class="navbar-item">
            Metadata
          </a>

          <a class="navbar-item">
            Ondertitels
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/pid">
                PID
              </a>
              <a class="navbar-item" href="/meta">
                Metadata
              </a>
              <a class="navbar-item" href="/subs">
                Ondertitels
              </a>

              <hr class="navbar-divider">
              <a class="navbar-item">
                <ion-icon name="create-outline" class="mr-1 mb-1"></ion-icon>
                Redactietool v0.1 alpha
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

 
    <!-- main container -->
  <div class="container main">

    {% if upload_cancelled %}
      <h2 class="title">Bestaande ondertitels werden behouden</h2>
    {% else %}
      <h2 class="title">Ondertitels en sidecar zijn verstuurd</h2>
    {% endif%}

    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <th>Eigenschap</th>
        <th>Waarde</th>
      </thead>

      <tr><td>PID</td><td>{{pid}}</td></tr>
      <tr><td>Ondertitel type</td><td>{{subtitle_type}}</td></tr>
      <tr><td>Ondertitelbestand</td><td>{{srt_file}}</td></tr>

      {% if not upload_cancelled %}
        <tr><td>Sidecar xml file</td><td>{{xml_file}}</td></tr>
        <tr>
          <td>Sidecar data</td>
          <td>
            <textarea 
              class="textarea is-info" 
              placeholder="Sidecar data..." 
              cols="45"
              rows="5">{{xml_sidecar}}</textarea>
          </td>
        </tr>
        <tr>
          <td>Mediahaven response</td>
          <td>
            <textarea 
              class="textarea is-info" 
              placeholder="Mediahaven response..." 
              cols="45"
              rows="5">{{mh_response}}</textarea>
          </td>
        </tr>
      {% endif %}

    </table>

    <!-- div class="buttons">
      <a class="button is-primary">Primary button</a>
      <a class="button is-link">Link button</a>

        onclick="newUploadClicked(this)"
    </div-->

    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <a id="change_pid" class="button is-link is-light"
          href="/search_media?token={{token}}">
          Andere item/PID bewerken
        </a>
      </div>
      <div class="control">
        <a
          id="change_metadata"
          type="submit"
          class="button is-link"
          href="/metadata?token={{token}}"
        >
          Metadata aanpassen
        </a>
      </div>
    </div>

    <br/><br/>

  </div><!-- end of main container -->


  <!-- open source ionicons for our icons (should we need them)-->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  </body>
  <script type="text/javascript">

      // ======================== FORMs onbeforeunload handlers ======================
      // this is found by googling around some, not sure yet if we'll take this route
      // this needs some further work and state:
      function addUnloadHooks(){
        // some vanilla onbeforeunload for our custom alert box, 
        // when we add this listener we get the browser default popups.
        //
        // window.addEventListener('beforeunload', function (e) {
        //   console.log("EVENT: beforeunload detected!");
        //   // Cancel the event
        //   // If you prevent default behavior in Mozilla Firefox prompt will always be shown
        //   e.preventDefault(); 
        //   // Chrome requires returnValue to be set
        //   e.returnValue = '';
        //     //possibly do something like this, not sure yet:
        //     setInterval(function(){
        //        if modalCancelled return false;
        //        if modalConfirmed return true;
        //     }, 800);
        //   // the absence of a returnValue property on the event will guarantee the browser unload happens
        //   delete e['returnValue'];
        // });
        //
        // Found an interesting jquery/bootstrap based module that matches more what is described
        // in ticket DEV-1794:
        // https://github.com/NightOwl888/jquery.dirtyforms.dialogs.bootstrap.dist. 
        // -> I need to test this out first and refactor or rewrite some of the modal_dialog.js code to 
        // do something similar for bulma instead.
        // That will however also introduce jquery into the mix, 
        // making our js dependencies around 86k larger.
      }


      // vanilla js for burger toggle
      document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }






      //some code duplication just for kicks. this is just a demo
      //page used to check our layout and styling. (yes similar code is in
      // index.html and ofcourse as example in modal_dialog.js
      var modal_btn = document.getElementById('modal_btn');
      modal_btn.addEventListener('click', () => {
        showModalAlert(
          "Waarschuwing titel",
          "Hier de boodschap die je wilt tonen"
        ); 
      });
      
      // events to close the modal dialog
      var modal_close_btn = getModalCloseBtn();
      modal_close_btn.addEventListener('click', () => {
        modalCloseClicked();
      });
      
      var modal_save_btn = getModalSaveBtn();
      modal_save_btn.addEventListener('click', () => {
        modalSaveClicked();
      });
      
      
      var modal_cancel_btn = getModalCancelBtn();
      modal_cancel_btn.addEventListener('click', () => {
        modalCancelClicked();
      });


      // simple version of unload hook, we however have
      // a more advanced dirtyforms proof of concept in bulma_customization
      // to be determined if we actually want/need this later on.
      // beforeunload confirm/cancel example
      // addUnloadHooks();
      addUnloadHooks();
     
    });

   
  </script>

</html>
