
<!-- injected from git branch SHA bdbda32 -->
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.ac5b10c9.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.ac5b10c9.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/css/app.dd3cf432.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/app.dd3cf432.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/js/chunk-vendors.f4d4f814.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='vue/js/app.6929a425.js') }}" rel="preload" as="script">
