
<!-- injected from git branch SHA d89315e -->
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.ac5b10c9.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.ac5b10c9.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/css/app.13f6cdc0.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/app.13f6cdc0.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/js/chunk-vendors.4753901e.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='vue/js/app.080a2b2e.js') }}" rel="preload" as="script">
