
<!-- injected from git branch SHA 1fe44fd -->
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.ac5b10c9.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.ac5b10c9.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/css/app.5f8a920a.css') }}" rel="preload" as="style">
<link href="{{ url_for('static', filename='vue/css/app.5f8a920a.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vue/js/chunk-vendors.f4d4f814.js') }}" rel="preload" as="script">
<link href="{{ url_for('static', filename='vue/js/app.b7e17e93.js') }}" rel="preload" as="script">
