<nav class="navbar is-fixed-top is-primary has-text-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <span class="navbar-item has-text-white">
      <img 
        src="{{ url_for('static', filename='avo-logo-i.svg') }}" alt="Logo Het Archief voor Onderwijs"
        width="150" 
        class="mr-4"
      >
      <ion-icon name="create-outline" class="mr-1 mb-1"></ion-icon>
      Redactietool
    </span>

    <!-- add class is-active to turn into a cross -->
    <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-start">
      {% if token or session.get('samlUserdata') %}
        <a class="navbar-item {{'is-active' if url_for(request.endpoint) == '/search_media'}}"
           href="/search_media?token={{token}}">
          Selecteer PID
        </a>
      {% endif %}
    </div>

    <div class="navbar-end "> 
      {% if (pid and token) or (pid and session.get('samlUserdata')) %}
        <a class="navbar-item {{'is-active' if url_for(request.endpoint) == '/edit_metadata'}}"
          href="/edit_metadata?token={{token}}&pid={{pid}}&department={{department}}">
          Metadata
        </a>

        <a class="navbar-item {{'is-active' if url_for(request.endpoint) in ['/upload', '/preview', '/send_to_mam']}}"
           href="/upload?token={{token}}&pid={{pid}}&department={{department}}">
          Ondertitels
        </a>
      {% endif %}
      

      <!-- legacy login -->
      {% if token or session.get('samlUserdata')%}
        <div class="navbar-item has-dropdown is-hoverable">
           <a class="navbar-link">
              {{ current_user.name | default('Voornaam Achternaam', true) }}
           </a>
           <div class="navbar-dropdown is-right">


            {% if session.get('samlUserdata') %}
              <a class="navbar-item button is-info ml-2 mr-2"
                 href="/?slo">
                 Logout
              </a> 
            {% else %}
              <a class="navbar-item button is-info ml-2 mr-2"
                 href="/">
                 Logout
              </a>
            {% endif%}

             <hr class="navbar-divider mt-2">
             <div class="navbar-item is-pulled-right">
               <ion-icon name="create-outline" class="mr-1"></ion-icon>
               {% include 'includes/version.html' %}
             </div>
           </div>
        </div>
      {% endif %}

    </div>
  </div>
</nav>

