<div class="modal" id='modal_alert'>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Title</p>
      <button class="delete" aria-label="close" onClick="modalCloseClicked();" ></button>
    </header>
    <section class="modal-card-body">
      <p>
        Content
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" onClick="modalSaveClicked();">Ok</button>
      <button class="button" onClick="modalCancelClicked();">Annuleren</button>
    </footer>
  </div>
</div>
