<!-- dynamic modal dialog -->
<div class="modal" id='modal_dlg'>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal dialog title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p>
        Modal dialog content 
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Ok</button>
      <button class="button">Annuleren</button>
    </footer>
  </div>
</div>
