{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
404 ERROR: Page not found
{% endblock %}

{% block content %}

 <div class="saml-login-page">


    <div class="card" id="saml_login_box">
      <h1 class="title">
        Redactietool 
        <span class="icon">
          <ion-icon name="create-outline"></ion-icon>
        </span>
      </h1>

      <h1 class="title" style="color: #aa0000">
        404 Error <br/> Pagina niet gevonden
      </h1>
    </div>

  </div>

{% endblock %} 
