<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- 
      link rel="icon" href="<%= BASE_URL %>favicon.ico" 
    -->

    <!-- bulma css framework -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/core.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/overrides.css') }}">

    <!-- TODO: merge style.css into overrides later on... -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- flowplayer styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='flowplayer.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='flowplayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='subtitles.min.js') }}"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='bulma/bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bulma/modal_dialog.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    {% include 'includes/base_vue_header.html' %}

    <title>Redactietool</title>
  </head>

  <body>
    {% include 'includes/menu.html' %}
    
    <div class="container main pl-3 pr-3">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
      <br/><br/>
    </div> 

    {% include 'includes/modal_dialog.html' %}

    {% include 'includes/base_vue_body.html' %} 
  </body>

</html>
