
<!doctype html>
<html>
  <head>
    <title>Redactietool</title>
    <!-- old version of vanilla style.css 
    -->

    <!-- bulma css framework -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/core.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/overrides.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- flowplayer styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='flowplayer.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"></script>

    <!-- deprecated stylesheets
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    -->

    <script type="text/javascript" src="{{ url_for('static', filename='bulma/bundle.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='flowplayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='subtitles.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <!-- section class="hero is-fullheight is-default is-bold">
        {% include 'includes/navigation.html' %}
    -->

    <!-- ////////////////////////////////////////// MAIN MENU ///////////////////////////////////////////// -->
    <nav class="navbar is-fixed-top is-primary has-text-white" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-white" href="/">
          <img 
            src="{{ url_for('static', filename='avo-logo-i.svg') }}" alt="Logo Het Archief voor Onderwijs"
            width="150" 
            class="mr-4"
          >
          <ion-icon name="create-outline" class="mr-1 mb-1"></ion-icon>
          Redactietool
        </a>

        <!-- add class is-active to turn into a cross -->
        <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

          <a class="navbar-item">
            PID
          </a>
          <a class="navbar-item">
            Preview
          </a>
          <a class="navbar-item">
            Metadata
          </a>

          <a class="navbar-item">
            Ondertitels
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/pid">
                PID
              </a>
              <a class="navbar-item" href="/meta">
                Metadata
              </a>
              <a class="navbar-item" href="/subs">
                Ondertitels
              </a>

              <hr class="navbar-divider">
              <a class="navbar-item">
                <ion-icon name="create-outline" class="mr-1 mb-1"></ion-icon>
                Redactietool v0.1 alpha
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              
              <!-- quick POC, this will be redone with bulma.css soon -->
              <div class="login_logout" id="saml_auth_block">
                {% if paint_logout %}
                {% if attributes %}
                  <table class="table table-striped">
                    <thead>
                      <th>Name</th><th>Values</th>
                    </thead>
                    <tbody>
                      {% for attr in attributes %}
                        <tr><td>{{ attr.0 }}</td>
                        <td><ul class="list-unstyled">
                          {% for val in attr.1 %}
                            <li>{{ val }}</li>
                          {% endfor %}
                        </ul></td></tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <div class="alert alert-danger" role="alert">You don't have any attributes</div>
                {% endif %}

                <a href="?slo" class="button is-primary">
                  <strong>Logout</strong>
                </a>

              {% else %}
                <a  href="?sso2" 
                    class="button is-primary">
                  <strong>Login and attrs page</strong>
                </a>

                <a  href="?sso" 
                    class="button is-light">
                  Login
                </a> 
              {% endif %}
              </div>

            </div>
          </div>
        </div>

      </div>
    </nav>

    <!-- ///////////////////////////////////////////// END MENU ///////////////////////////////////////////// -->


    <!-- ////////////////////////////////////////// MAIN CONTAINER ////////////////////////////////////////// -->
    <div class="container main">
      <!-- h1 class="title">
        Redactietool 
        <span class="icon">
          <ion-icon name="create-outline"></ion-icon>
        </span>
      </h1-->

      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}

    </div> 
    <!-- end of main container -->

</body>
</html>
