{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Metadata bewerken
{% endblock %}

{% block content %}

<h1 class="title">{{title}} / PID: {{pid}}</h1>

<div class="columns">
  <div class="column">
    <div id="player_container"></div>

    <script>
      flowplayer('#player_container', {
        src: '{{video_url}}',
        token: '{{flowplayer_token}}'
      })
    </script>
  </div>
</div>

<form> 

  <!-- 
    metadata edit form 
    REMARK/TODO: 
    this form will most likely grow a lot. Most likely
    split this up into multiple partial views...
  -->

  <div class="columns">
    <div class="column">
      <h2 class="title">Algemene metadata</h2>
      <hr/>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <h3 class="subtitle">Algemeen</h3>
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Beherende&nbsp;CP</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="beherende_cp" class="input is-small" type="text" placeholder="Beherende CP">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Testbeeld&nbsp;PID</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="testbeeld_pid" class="input is-small" type="text" placeholder="PID" value={{pid}}/>
            </div>
          </div>
        </div>
      </div>

      <b>Datum</b> <br/>
      Uitzenddatum: ... <br/>
      Creatiedatum: ... <br/>
    </div>

    <div class="column is-half">
      <h3 class="subtitle">Titel</h3>

      Ontsluitingstitle: ... <br/>
      Serie: ... <br/>
      Hoofdtitel: ... <br/>
      Alternatief: ... <br/>
      Programma: ... <br/>
      Seizoen: ... <br/>
      Reeks: ... <br/>
      Extra velden indien beschikbaar: ... <br/>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="title">Productie</h2>
      <hr/>
      ... widget met Maker, publisher etc...

    </div>
  </div>

  <div class="columns">
    <div class="column">

        <h2 class="panel-heading">
          Inhoud
        </h2>

          <!-- todo make this type of panel a partial view asap -->
          <div class="columns">
            <div class="column">
              <article class="panel">
                <p class="panel-heading">
                  Originele hoofdbeschrijving
                </p>
                <div class="panel-block">
                  <p class="control">
                    <textarea name="originele_hoofdbeschrijving"
                      class="textarea is-hover" 
                      placeholder="Originele hoofdbeschrijving (disabled)" 
                      cols="45"
                      rows="5"></textarea>
                  </p>

                </div>
              </article>
            </div>
          </div>

          <article class="panel">
            <p class="panel-heading">
              Originele uitgebreide hoofdbeschrijving
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Originele uitgebreide hoofdbeschrijving (disabled)"
                  cols="45"
                  rows="5"></textarea>
              </p>

            </div>
          </article>

          <article class="panel">
            <p class="panel-heading">
              Ondertitels
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Ondertitles (disabled)" 
                  cols="45"
                  rows="5"></textarea>
              </p>

            </div>
          </article>

          <article class="panel">
            <p class="panel-heading">
              Programma omschrijving
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Programma beschrijving (disabled)" 
                  cols="45"
                  rows="5"></textarea>
              </p>

            </div>
          </article>


          <article class="panel">
            <p class="panel-heading">
              Cast 
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Cast (disabled)" 
                  cols="45"
                  rows="5"></textarea>
              </p>

            </div>
          </article>

          <article class="panel">
            <p class="panel-heading">
              Transcriptie
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Transcriptie (disabled)" 
                  cols="45"
                  rows="5"></textarea>
              </p>

            </div>
          </article>

          <!-- deze is een editable panel en in toekomst wss een rich text edit indien nog gewenst -->
          <article class="panel">
            <p class="panel-heading">
              Het archief voor Onderwijs beschrijving
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="AVO beschrijving. (editable), later on maybe also richtext here" 
                  cols="45"
                  rows="5"></textarea>
              </p>

            </div>
          </article>

    </div>
  </div>


  <div class="columns">
    <div class="column">
      <h2 class="title">LOM 1</h2>
      <hr/>
      Type, beoogde eindgebruiker ...
      <br/>
      Thema edit enz.
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="title">LOM 2</h2>
      <hr/>
      Vakken (met niet editeerbare selections?

    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="title">LOM 3</h2>
      <hr/>
      Trefwoorden ... niet editeerbare velden en autosuggest?

    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="buttons is-pulled-right pt-2">
        {% include 'includes/form_errors.html' %}
        <button type="submit" class="button is-primary">
          Save metadata
        </button>
      </div>
    </div>
  </div>
</form> <!-- end of metadata edit form -->

{% endblock %}
