{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Metadata bewerken
{% endblock %}

{% block content %}

<div class="columns">
  <div class="column">

    <h1 class="title is-pulled-left">{{title}} / PID: {{pid}}</h1>

    <div class="buttons is-pulled-right pt-2">
            <a class="button is-link mb-5"
               href="/upload?token={{token}}&pid={{pid}}&department={{department}}">
              Bewerk ondertitels
            </a>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div id="player_container"></div>

    <script>
      flowplayer('#player_container', {
        src: '{{video_url}}',
        token: '{{flowplayer_token}}'
      })
    </script>
  </div>
</div>

<form class="metadata_form" action="/edit_metadata" method="POST" enctype="multipart/form-data">

  {% include 'upload_hidden_fields.html' %}

  <!-- 
    metadata edit form 
    REMARK/TODO: 
    this form will most likely grow a lot. Most likely
    split this up into multiple partial views...
  -->

  <div class="columns">
    <div class="column">
      <h2 class="title">Algemene metadata</h2>
      <hr/>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <h3 class="subtitle">Algemeen</h3>
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Beherende&nbsp;CP</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="beherende_cp" class="input is-small" type="text" placeholder="Beherende CP" value="{{original_cp}}"/>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Testbeeld&nbsp;PID</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="testbeeld_pid" class="input is-small" type="text" placeholder="PID" value="{{pid}}"/>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Datum </label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="wdatum" class="input is-small" type="text" placeholder="MAPPING?" value=""/>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Uitzenddatum</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="uitzenddatum" class="input is-small" type="text" placeholder="MAPPING?" value=""/>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Creatiedatum</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="creatiedatum" class="input is-small" type="text" placeholder="creatie datum" value="{{created}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <h3 class="subtitle">Titel</h3>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Ontsluitingstitel</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="ontsluitingstitel" class="input is-small" type="text" placeholder="Mapping?">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Serie</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="serie" class="input is-small" type="text" placeholder="Mapping?">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Hoofdtitel</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="hoofdtitel" class="input is-small" type="text" placeholder="Mapping?">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Alternatief</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="alternatief" class="input is-small" type="text" placeholder="Mapping?">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Programma</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="programma" class="input is-small" type="text" placeholder="Mapping?">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Seizoen</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="seizoen" class="input is-small" type="text" placeholder="Mapping?">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Reeks</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="reeks" class="input is-small" type="text" placeholder="Mapping?">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Welke extra velden?</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="reeks" class="input is-small" type="text" placeholder="En de mapping?">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="title">Productie</h2>
      <hr/>
      
      <h2 class="subtitle">Maker <a href="todo" onclick="">+</a></h2>
      <hr/>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Maker</label>
        </div>
        <div class="field-body">
          <div class="select">
            <select name="maker" id="meta_maker">
              <option value="maker">Maker</a>
              <option value="archiefvormer">Archiefvormer</a>
              <option value="auteur">Auteur</a> 
              <option value="acteur">Acteur</a> 
              <option value="cineast">Cineast</a> 
              <option value="componist">Componist</a> 
              <option value="choreograaf">Choreograaf</a> 
              <option value="danser"><Danser/a> 
              <option value="documentairemaker">Documentairemaker</a>
              <option value="fotograaf">Fotograaf</a> 
              <option value="geïnterviewde">Geïnterviewde</a> 
              <option value="interviewer">Interviewer</a> 
              <option value="kunstenaar">Kunstenaar</a> 
              <option value="muzikant">Muzikant</a> 
              <option value="performer">Performer</a> 
              <option value="producer">Producer</a> 
              <option value="productiehuis">Productiehuis</a> 
              <option value="regisseur">Regisseur</a> 
              <option value="schrijver">Schrijver</a> 
              <option value="opdrachtgever">Opdrachtgever</a>
            </select>
          </div>
        </div>
      </div>


      <h2 class="subtitle">Bijdrager <a href="todo" onclick="">+</a></h2>
      <hr/>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Bijdrager</label>
        </div>
        <div class="field-body">
          <div class="select">
            <select name="maker" id="meta_maker">
              <option value="aanwezig">Aanwezig</a> 
              <option value="adviseur">Adviseur</a> 
              <option value="afwezig">Afwezig</a>
              <option value="archivaris">Archivaris</a>
              <option value="arrangeur">Arrangeur</a>
              <option value="artistiekdirecteur">ArtistiekDirecteur</a>
              <option value="assistent">Assistent</a>
              <option value="auteur">Auteur</a>
              <option value="belichting">Belichting</a>
              <option value="bijdrager">Bijdrager</a>
              <option value="cameraman">Cameraman</a>
              <option value="co-producer">Co-producer</a>
              <option value="commentator">Commentator</a>
              <option value="componist">Componist</a>
              <option value="decorontwerper">DecorOntwerper</a>
              <option value="digitaliseringspartner">Digitaliseringspartner</a>
              <option value="dirigent">Dirigent</a>
              <option value="dramaturg">Dramaturg</a>
              <option value="fotografie">Fotografie</a>
              <option value="geluid">Geluid </a>
              <option value="geluidsman">Geluidsman</a>
              <option value="grafischOntwerper">GrafischOntwerper</a>
              <option value="kostuumOntwerper">KostuumOntwerper</a>
              <option value="kunstenaar">Kunstenaar</a>
              <option value="make-up">Make-up</a>
              <option value="muzikant">Muzikant</a>
              <option value="nieuwsanker">Nieuwsanker</a>
              <option value="omroeper">Omroeper</a>
              <option value="onderzoeker">Onderzoeker</a>
              <option value="post-productie">Post-productie</a>
              <option value="producer">Producer</a>
              <option value="reporter">Reporter</a>
              <option value="scenarist">Scenarist</a>
              <option value="soundtrack">Soundtrack </a>
              <option value="sponsor">Sponsor</a>
              <option value="technischadviseur">TechnischAdviseur</a>
              <option value="uitvoerder">Uitvoerder</a>
              <option value="verontschuldigd">Verontschuldigd : klopt dit wel??? </a>
              <option value="vertaler">Vertaler</a>
              <option value="verteller">Verteller</a>
              <option value="voorzitter">Voorzitter</a>
            </select>
          </div>
        </div>
      </div>


      <h2 class="subtitle">Bijdrager <a href="todo" onclick="">+</a></h2>
      <hr/>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Publisher</label>
        </div>
        <div class="field-body">
          <div class="select">
            <select name="publisher" id="publisher">
              <option value="distributeur">Distributeur</a>
              <option value="exposant">Exposant</a>
              <option value="persagentschap">Persagentschap</a>
              <option value="publisher">Publisher</a>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="columns">
    <div class="column">

        <h2 class="panel-heading">
          Inhoud
        </h2>

          <!-- todo make this type of panel a partial view asap -->
          <div class="columns">
            <div class="column">
              <article class="panel">
                <p class="panel-heading">
                  Originele hoofdbeschrijving
                </p>
                <div class="panel-block">
                  <p class="control">
                    <textarea name="originele_hoofdbeschrijving"
                      class="textarea is-hover" 
                      placeholder="Originele hoofdbeschrijving (disabled)" 
                      cols="45"
                      rows="5" readonly>{{description}}</textarea>
                  </p>

                </div>
              </article>
            </div>
          </div>

          <article class="panel">
            <p class="panel-heading">
              Originele uitgebreide hoofdbeschrijving
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Originele uitgebreide hoofdbeschrijving (disabled)"
                  cols="45"
                  rows="5" readonly></textarea>
              </p>
            </div>
          </article>

          <article class="panel">
            <p class="panel-heading">
              Ondertitels
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Ondertitles (disabled)" 
                  cols="45"
                  rows="5" readonly></textarea>
              </p>
            </div>
          </article>

          <article class="panel">
            <p class="panel-heading">
              Programma omschrijving
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Programma beschrijving (disabled)" 
                  cols="45"
                  rows="5" readonly></textarea>
              </p>
            </div>
          </article>


          <article class="panel">
            <p class="panel-heading">
              Cast 
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Cast (disabled)" 
                  cols="45"
                  rows="5" readonly></textarea>
              </p>
            </div>
          </article>

          <article class="panel">
            <p class="panel-heading">
              Transcriptie
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="Transcriptie (disabled)" 
                  cols="45"
                  rows="5" readonly></textarea>
              </p>

            </div>
          </article>

          <!-- deze is een editable panel en in toekomst wss een rich text edit indien nog gewenst -->
          <article class="panel">
            <p class="panel-heading">
              Het archief voor Onderwijs beschrijving
            </p>
            <div class="panel-block">
              <p class="control">
                <textarea name="originele_hoofdbeschrijving"
                  class="textarea is-hover" 
                  placeholder="AVO beschrijving. (editable), later on maybe also richtext here" 
                  cols="45"
                  rows="5" readonly></textarea>
              </p>

            </div>
          </article>

    </div>
  </div>

  <!--
  <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Welke extra velden?</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input name="reeks" class="input is-small" type="text" placeholder="En de mapping?">
            </div>
          </div>
        </div>
      </div>
  -->

  <div class="columns">
    <div class="column">
      <h2 class="title">LOM 1</h2>
      <hr/>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Type</label>
        </div>
        <div class="field-body">
          <div class="select">
            <select name="lom1_type" id="lom1_type">
              <option value="value1">Api call of mapping voor types?</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Beoogde eindgebruiker</label>
        </div>
        <div class="field-body">
          <div class="select is-multiple">
            <!-- TODO: multiple size="3" of meer? -->
            <select name="lom1_beoogde_eindgebruiker" id="lom1_beoogde_eindgebruiker">
              <option value="value1">Api call of mapping voor eindgebruikers?</option>
              <option value="user_1">Eindgebruiker 1</option>
              <option value="user_2">Eindgebruiker 2</option>
              <option value="user_3">Eindgebruiker 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Taal</label>
        </div>
        <div class="field-body">
          <div class="select">
            <!-- TODO: multiple size="3" of meer? -->
            <select name="lom1_taal" id="lom1_taal">
              <option value="value1">Api call, mapping of waardes voor taal?</option>
              <option value="nl">Nederlands</option>
              <option value="fr">Frans</option>
              <option value="en">Engels</option>
              <option value="de">Duits</option>
            </select>
          </div>
        </div>
      </div>

      <!-- TODO: validation error on empty value for onderwijsniveaus -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Onderwijsniveaus</label>
        </div>
        <div class="field-body">
          <div class="select is-multiple">
            <!-- TODO: multiple size="2" -->
            <select name="lom1_onderwijsniveaus" id="lom1_onderwijsniveaus">
              <option value="value1">Api call, mapping of waardes voor onderwijsniveaus?</option>
              <option value="value2">Tweede niveau</option>
            </select>
          </div>
        </div>
      </div>

      <!-- TODO: clear onderwijsgraden als onderwijsniveau verandert? of een error message? -->
      <!-- TODO: re-populate als onderwijsniveaus verandert, met welke api call? -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Onderwijsgraden</label>
        </div>
        <div class="field-body">
          <div class="select is-multiple">
            <!-- TODO: multiple size="2" -->
            <select name="lom1_onderwijsgraden" id="lom1_onderwijsgraden">
              <option value="value1">Api call, voor een re-populate van graden op basis van onderwijsniveaus?</option>
              <option value="value2">Tweede graad</option>
            </select>
          </div>
        </div>
      </div>

      <!-- TODO: thema's are from knowledge graph or? -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Thema</label>
        </div>
        <div class="field-body">
          <div class="select">
            <select name="lom1_themas" id="lom1_themas">
              <option value="value1">Mapping van mogelijke themas? En dus niet editeerbaar?</option> -> niet editaarbaar, waarom dan niet gewoon wat labels hier?
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="title">LOM 2</h2>
      <hr/>

      <!-- waarom niet gewoon een multi-select hier? het is toch niet editeerbaar, waarom die 'X' op de wireframe? -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Vakken</label>
        </div>
        <div class="field-body">
          <div class="select is-multiple">
            <select name="lom2_vakken" id="lom2_vakken">
              <option value="value1">Mag dit niet gewoon een multi-select worden?</option>
              <option value="value1">tweede vak</option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="title">LOM 3</h2>
      <hr/>

      <!-- waarom niet gewoon een een searchable 
        multi-select hier? en wat is de api call hiervoor, knowledge graph of elders? -->
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Trefwoorden</label>
        </div>
        <div class="field-body">
          <div class="select is-multiple">
            <select name="lom3_trefwoorden" id="lom3_trefwoorden">
              <option value="value1">Mag dit niet gewoon een multi-select worden?</option>
              <option value="value2">tweede trefwoord</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"></label>
        </div>
        <div class="field-body">
            <a target="_blank" href="http://link_trefwoorden_content_partners?">
              Bekijk trefwoorden van Content Partners
            </a>
        </div>
      </div>

    </div>
  </div>


  <div class="columns">
    <div class="column">
      <h2 class="title">Publicatiestatus</h2>
      <hr/>
      <label class="checkbox">
        <input type="checkbox" name="publicatiestatus"/>
        Dit item mag gepubliceerd worden op 
        <a target="blank" href="https://onderwijs.hetarchief.be">Het Archief voor Onderwijs.</a>
      </label>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="buttons sticky-submit-button pt-2">
        {% include 'includes/form_errors.html' %}
        <button type="submit" class="button is-primary spring">
          Sync naar MAM
        </button>
      </div>
    </div>
  </div>

</form> <!-- end of metadata edit form -->
<br/><br/><br/><br/>

{% endblock %}
