{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Metadata bewerken
{% endblock %}

{% block content %}

<div class="columns">
  <div class="column">

    <h1 class="title">{{title}}</h1>
    <h2 class="subtitle pu mb-0 ml-1"><b>PID: {{pid}}</b></h2>

    <!--
      Unless someone can truly convince me this double button is really necessary
      I'm keeping it hidden for now.
      <div class="buttons is-pulled-right pt-2">
            <a class="button is-link mb-5"
               href="/upload?token={{token}}&pid={{pid}}&department={{department}}">
              Bewerk ondertitels
            </a>
      </div>
    -->
  </div> 
</div>

{% if data_saved_to_mam %}
  <div class="columns" id="data_saved_alert_box">
    <div class="column">
      <div class="notification is-success">
        <button class="delete" onclick="closeSavedAlert(); return false;"></button>
        De metadata voor item <b>{{pid}}</b> werd verstuurd naar Mediahaven. <br/>
        <!--
        Deze call is async en het kan even duren vooraleer de get request de nieuwe aanpassingen weergeeft.
        -->
      </div>
    </div>
  </div>
{% endif %}

<div class="columns">
  <div class="column">
    <div id="player_container"></div>

    <script>
      // future solution, when testbeeld image server allows this
      // poster: '{{keyframe}}'+'?nocache='+Date.now()
      flowplayer('#player_container', {
        src: '{{video_url}}',
        token: '{{flowplayer_token}}',
        poster: '{{keyframe}}'
      })
    </script>
    

    {% if item_type != 'Audio' %}
      <a class="button is-info mt-5" href="{{keyframe_edit_url}}" target="_blank">
        <ion-icon name="key-outline" class="pr-3"></ion-icon>
        Keyframe Aanpassen
      </a>

      <img src="{{keyframe}}" id="keyframe_image" width="100px"/>
      <button class="button is-info mt-5" 
        onclick="refreshKeyframeImage('keyframe_image'); return false;" >
        <ion-icon name="refresh-outline" class="pr-3"></ion-icon>
        Refresh Keyframe
      </a>
    {% endif %}

  </div>
</div>

<form class="metadata_form" action="/edit_metadata" method="POST" enctype="multipart/form-data">

  {% include 'upload_hidden_fields.html' %}
  {% include 'components/algemene_section.html' %}
  {% include 'components/productie_section.html' %}
  {% include 'components/inhoud_section.html' %}

  <!-- ======================== Leerobject section ========================== -->
  <br/>
  <div id="pid" style="display:none;">{{pid}}</div>
  <div id="app"></div>

  <div class="columns">
    <div class="column">
      <h2 class="title">Publicatiestatus</h2>
      <hr/>
      <label class="checkbox">
        <input type="checkbox" name="publicatiestatus"/>
        Dit item mag gepubliceerd worden op 
        <a target="blank" href="https://onderwijs.hetarchief.be">Het Archief voor Onderwijs.</a>
      </label>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="buttons sticky-submit-button pt-2">
        {% include 'includes/form_errors.html' %}
        <button type="submit" class="button is-primary spring">
          Metadata opslaan
        </button>
      </div>
    </div>
  </div>

</form> <!-- end of metadata edit form -->
<br/><br/><br/><br/>

{% endblock %}
