{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitels valideren
{% endblock %}

{% block content %}

<h1>Ondertitelbestand</h1>
<div class="left_page">
  <form class="validate_form" action="/send_to_mam" method="POST" enctype="multipart/form-data">

    {% include 'upload_hidden_fields.html' %}
    <input type="hidden" name="subtitle_file" value='{{subtitle_file}}'/> 
    <input type="hidden" name="vtt_file" value='{{vtt_file}}'/>

    <label>PID</label> <div class="pid-view"> {{pid}}</div> <div class="check"></div>
    <br/><br/>
    <label>Ondertitelbestand</label><br/> 
    <select name="subtitle_type" id="subtitle_type">
      <option value="open" {{'selected="selected"' if subtitle_type=='open'}}>Open</option>
      <option value="closed" {{'selected="selected"' if subtitle_type=='closed'}}>Closed</option>
    </select>
    <input readonly=readonly name="subtitle_show_path" id="subtitle_file" value='{{subtitle_file}}'/>
    <br/><br/>
    <label>Toevoegen met</label><br/>
    <select name="transfer_method" id="transfer_method">
      <option value="ftp" {{'selected="selected"'}}>FTP upload</option>
      <!-- disable api mode until issue on mh_api side is fixed -->
      <!-- option value="api">Mediahaven API</option -->
    </select>
    <br/>

    {% if validation_errors %}
    <span class="form_errors">{{validation_errors}}</span>
    {% endif %}

    <a href="{{ url_for('.cancel_upload', 
        pid=pid, 
        department=department,
        srt_file=subtitle_file, 
        vtt_file=vtt_file,
        token=token
       )}}" 
       id="preview_cancel"
       onclick="previewCancel(this);"
      class="cancel-button">
     Wissen
    </a>

    <input 
      id="preview_submit"
      type="submit" 
      value="Toevoegen"
      onClick="previewSubmit(this);"
    />

  </form>
</div>

<div class="right_page">

  <h3 class="video_title">{{title}}</h3>
  <div id="player_container"></div>
  <table class="video_details">
    <tr><td colspan="2">{{description}}</td></tr>
    <tr><td>Created</td><td>{{created}}</td></tr>
    <tr><td>Archived</td><td>{{archived}}</td></tr>
    <tr><td>Original CP</td><td>{{original_cp}}</td></tr>
  </table>

  <script>
    flowplayer('#player_container', {
      token: '{{flowplayer_token}}',
      src: '{{video_url}}',
      subtitles:{ 
        tracks:[
          { 
            src: "/subtitles/{{vtt_file}}",
            label: "English",
            id: "English-en",
            default: true,
            crossorigin: "anonymous" 
          }
        ]
      }
    })
  </script>

</div>
{% endblock %}
