{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}

{# TODO: refactor this later on, right now as POC its nice to test login/logout integrated in subloader... #}
{% if not_auth_warn %}
  <div class="alert alert-danger" role="alert">Not authenticated</div>
{% endif %}

{% if success_slo %}
  <div class="alert alert-success" role="alert">Successfully logged out</div>
{% endif %}

<!--
DEBUG template params (not for release, just for extra security checking): <br/>
<pre>
{{ errors }}
{{ error_reason }}
{{ not_auth_warn }}
{{ success_slo }}
{{ attributes }}
{{ paint_logout }}
</pre>
-->




  <!-- styling to be done with bulma soon... -->
  <div class="center_page">
  <p>
  <pre>
   Login met je meemoo account door 
   rechtsboven op de login knop te klikken.</pre>
  <a href="/" class="button">Terug naar originele authenticatie </a>

   <!-- form action="/login" class="login_form" method="POST">

      <label>E-mailadres</label>
      <input name="username"/> <br/>

      <label>Wachtwoord</label>
      <input name="password" type="password"/><br/>

      {% if validation_errors %}
      <span class="form_errors">{{validation_errors}}</span>
      {% endif %}


      {% if errors %}
        <div class="alert alert-danger" role="alert">
          <strong>Errors:</strong>
          <ul class="list-unstyled">
              {% for err in errors %}
                <li>{{err}}</li>
              {% endfor %}
          </ul>
          {% if error_reason %}
              <span>{{error_reason}}</span>
          {% endif %}
        </div>
      {% endif %}

      <input 
        id="login_submit"
        onClick="loginSubmit(this);"
        type="submit" 
        value="Login"/>
  </form -->

  </p>
  </div>

{% endblock %}


   </body>
</html> 


