{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitels toevoegen
{% endblock %}

{% block content %}


<div class="center_page">
<h3 class="title">Details opvragen met PID</h1>
  <p>
   <form action="/search_media" method="POST">
      <input name="token" value='{{token}}' type="hidden"/> <!-- supply auth token -->

      <div class="field">
        <label class="label">Tenant</label>
        <div class="control">
          <div class="select">
            <select name="department" id="tenant">
              <option value="testbeeld">Testbeeld</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Kies content via item pid</label>
        <div class="control">
          <input class="input" type="text" name="pid" placeholder="Item pid" autofocus/>
        </div>
      </div>
      <input type="hidden" value="yes" name="redirect_subtitles" id="redirect_subtitles"/>

      {% include 'includes/form_errors.html' %}
      
      <div class="buttons pt-2">
        <input 
          name="action"
          class="button is-primary"
          type="submit" 
          value="Metadata bewerken"
          onClick="pidSubmitForMetadata(this);"
        />

        <input 
          name="action"
          class="button is-primary"
          type="submit" 
          value="Ondertitels bewerken"
          onClick="pidSubmitForSubtitles(this);"
        />

      </div>
  </form>

  </p>
</div>


{% endblock %}
