{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitels toevoegen
{% endblock %}

{% block content %}


<div class="center_page">
<h1 class="title">Zoek een item op</h1>
  <p>
   <form action="/search_media" method="POST">
      <input name="token" value='{{token}}' type="hidden"/> <!-- supply auth token -->

      <div class="field">
        <label class="label">Tenant</label>
        <div class="control">
          <div class="select">
            <select name="department" id="tenant">
              <option value="testbeeld">Testbeeld</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Geef een pid in</label>
        <div class="control">
          <input id="pid_search" class="input" type="text" name="pid" placeholder="Item pid" autofocus/>
        </div>
      </div>
      <input type="hidden" value="yes" name="redirect_subtitles" id="redirect_subtitles"/>

      {% include 'includes/flash_errors.html' %}
      
      <div class="buttons pt-2">
        <input 
          id="btn_metadata_bewerken"
          name="action"
          class="button is-primary is-pulled-left"
          type="submit" 
          value="Metadata bewerken"
          onclick="pidSubmitForMetadata(this);"
        />

        <input 
          id="btn_ondertitels_toevoegen"
          name="action"
          class="button is-primary is-pulled-right ml-4"
          type="submit" 
          value="Ondertitels toevoegen"
          onclick="pidSubmitForSubtitles(this);"
        />

      </div>
  </form>

  </p>
</div>


{% endblock %}
