{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Redactietool - Ondertitelbestand
{% endblock %}

{% block content %}

  {% if upload_cancelled %}
    <h2 class="title">Bestaande ondertitels werden behouden</h2>
  {% else %}
    <h2 class="title">Ondertitels en sidecar zijn verstuurd</h2>
  {% endif%}

  <table class="table is-fullwidth is-hoverable is-striped">
    <thead>
      <th>Eigenschap</th>
      <th>Waarde</th>
    </thead>

    <tr><td>PID</td><td>{{pid}}</td></tr>
    <tr><td>Ondertitel type</td><td>{{subtitle_type}}</td></tr>
    <tr><td>Ondertitelbestand</td><td>{{srt_file}}</td></tr>

    {% if not upload_cancelled %}
      <tr><td>Sidecar xml file</td><td>{{xml_file}}</td></tr>
      <tr>
        <td>Sidecar data</td>
        <td>
          <textarea 
            class="textarea is-info" 
            placeholder="Sidecar data..." 
            cols="45"
            rows="5">{{xml_sidecar}}</textarea>
        </td>
      </tr>
      <tr>
        <td>Mediahaven response</td>
        <td>
          <textarea 
            class="textarea is-info" 
            placeholder="Mediahaven response..." 
            cols="45"
            rows="5">{{mh_response}}</textarea>
        </td>
      </tr>
    {% endif %}

  </table>

  <!-- div class="buttons">
    <a class="button is-primary">Primary button</a>
    <a class="button is-link">Link button</a>

      onclick="newUploadClicked(this)"
  </div-->

  <div class="field is-grouped is-pulled-right">
    <div class="control">
      <a id="change_pid" class="button is-link is-light"
        href="/search_media?token={{token}}">
        Andere item/PID bewerken
      </a>
    </div>
    <div class="control">
      <a
        id="change_metadata"
        type="submit"
        class="button is-link"
        href="/metadata?token={{token}}"
      >
        Metadata aanpassen
      </a>
    </div>
  </div>

  <br/><br/>

  <!-- logout type of button we need to move into the menu
    under an item where we see username soon...

      <a class="grey-button" 
          id="logout_btn" 
          onclick="logoutClicked(this);"
          href="/"> Uitloggen </a>
  -->

{% endblock %}
