{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block title %}
Ondertitelbestand
{% endblock %}

{% block content %}

<h1 class="title">{{title}}</h1>

<div class="columns">

  <div class="column is-half">
    <!-- TODO: also strip out video_title css -->
    <!-- label>PID</label> <div class="pid-view"> {{pid}}</div> <div class="check"></div -->

    <h2 class="subtitle"><b>PID: {{pid}} </b></h2>
    <div id="player_container"></div>

    <!-- we can re-introduce this if wanted... keeping it as comment now
    <table class="video_details">
      <tr><td colspan="2">{{description}}</td></tr>
      <tr><td>Created</td><td>{{created}}</td></tr>
      <tr><td>Archived</td><td>{{archived}}</td></tr>
      <tr><td>Original CP</td><td>{{original_cp}}</td></tr>
    </table>
    -->

    <script>
      flowplayer('#player_container', {
        src: '{{video_url}}',
        token: '{{flowplayer_token}}'
      })
    </script>
  </div>

  <div class="column is-half">
    <form class="upload_form" action="/upload" method="POST" enctype="multipart/form-data">
        {% include 'upload_hidden_fields.html' %}
         
        <div class="field">
          <label class="label">Selecteer type ondertitelbestand</label>
          <div class="control">
            <div class="select">
              
              <select name="subtitle_type" id="subtitle_type">
                <option value="closed">Closed</option>
                <option value="open">Open</option>
              </select>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Kies ondertitelbestand</label>
          <div class="control">
            <input name="subtitle_file" class="input" type="file" placeholder="SRT bestand">
          </div>
        </div>



        {% if validation_errors %}
        <span class="has-text-danger-dark	is-pulled-right">{{validation_errors}}</span>
        {% endif %}


      <br/>
      <br/>
      <div class="field is-grouped is-pulled-right">

        <div class="control">
          <a id="upload_cancel" class="button is-link is-light"
            onclick="uploadCancel(this);"
            href="/search_media?token={{token}}">
            Annuleren
          </a>
        </div>

        <div class="control">
          <button 
            type="submit"
            class="button is-link"
            onClick="uploadSubmit(this);"
          >
            Preview
          </button>
        </div>
        
      </div>


    </form>
  </div>

</div>

{% endblock %}
