
  <div class="columns">
    <div class="column">
      <h2 class="title is-clickable" onclick="sectionToggle('algemene_metadata')">
        Algemene metadata
        <div class="minimize-icon-wrapper" id="algemene_metadata_icon">
          <span class="icon-unfolded">
            <ion-icon name="chevron-down-circle-outline"></ion-icon>
          </span>
          <span class="icon-folded">
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </span>
        </div>
      </h2>
      <hr/>
    </div>
  </div>

  <div id="algemene_metadata">
    <div class="columns">
      <div class="column is-half">
        <h3 class="subtitle" id="algemeen_title">Algemeen</h3>
        
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Beherende&nbsp;CP</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="beherende_cp" class="input is-small" type="text" placeholder="Beherende CP" value="{{original_cp}}" readonly/>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Testbeeld&nbsp;PID</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="testbeeld_pid" class="input is-small" type="text" placeholder="PID" value="{{pid}}" readonly/>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Lokale CP ID</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="testbeeld_pid" 
                class="input is-small" type="text" 
                placeholder="PID" value="{{dc_identifier_localid}}" readonly/>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Uitzenddatum</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input  name="uitzenddatum" id="uitzenddatum" 
                        class="input is-small" type="text" 
                        placeholder="Uitzenddatum" 
                        value="{{dcterms_issued}}"
                        oninput="checkDateInput('uitzenddatum')"
                />
                <p id="uitzenddatum_error" class="help is-danger hidden">Opgelet: foute datumnotatie</p>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Creatiedatum</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <!--input name="creatiedatum" 
                    class="input is-small" type="text" 
                    placeholder="creatie datum" value="{{created}}"
                    readonly/ -->
                <input  name="creatiedatum" id="creatiedatum"
                        class="input is-small" type="text"
                        placeholder="creatie datum"
                        value="{{dcterms_created}}"
                        readonly
                />
                <p id="creatiedatum_error" class="help is-danger hidden">Opgelet: foute datumnotatie</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half">
        <h3 class="subtitle" id="algemeen_title_right">Titel</h3>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Ontsluitingstitel</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="ontsluitingstitel" 
                  class="input is-small" type="text" 
                  placeholder="Ontsluitingstitel" value="{{ontsluitingstitel}}">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Hoofdtitel</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="hoofdtitel" 
                  class="input is-small" type="text" 
                  placeholder="Hoofdtitel" value="{{title}}" readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_serie">
          <div class="field-label is-normal">
            <label class="label">Serie</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="serie" class="input is-small" type="text" 
                placeholder="Serie"
                value="{{titel_serie}}">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_episode">
          <div class="field-label is-normal">
            <label class="label">Episode</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="serie" class="input is-small" type="text" 
                placeholder="Episode"
                value="{{titel_episode}}"
                readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_aflevering">
          <div class="field-label is-normal">
            <label class="label">Aflevering</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="serie" class="input is-small" type="text" 
                placeholder="Aflevering"
                value="{{titel_aflevering}}"
                readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_alternatief">
          <div class="field-label is-normal">
            <label class="label">Alternatief</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="alternatief" class="input is-small" type="text" 
                placeholder="Alternatief" 
                value="{{titel_alternatief}}"
                readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_programma">
          <div class="field-label is-normal">
            <label class="label">Programma</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="programma" class="input is-small" type="text" 
                  placeholder="Programma" 
                  value="{{titel_programma}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_serienummer">
          <div class="field-label is-normal">
            <label class="label">Serienummer</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="serienummer" class="input is-small" type="text" 
                  placeholder="Serienummer" 
                  value="{{titel_serienummer}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_seizoen">
          <div class="field-label is-normal">
            <label class="label">Seizoen</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="seizoen" 
                  class="input is-small" 
                  type="text" 
                  placeholder="Seizoen" 
                  value="{{titel_seizoen}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_nummer">
          <div class="field-label is-normal">
            <label class="label">Nummer</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="seizoen" 
                  class="input is-small" 
                  type="text" 
                  placeholder="Seizoen nummer" 
                  value="{{titel_seizoen_nr}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_archief">
          <div class="field-label is-normal">
            <label class="label">Archief</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="seizoen" 
                  class="input is-small" 
                  type="text" 
                  placeholder="Archief" 
                  value="{{titel_archief}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_deelarchief">
          <div class="field-label is-normal">
            <label class="label">Deelarchief</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="seizoen" 
                  class="input is-small" 
                  type="text" 
                  placeholder="Deelarchief" 
                  value="{{titel_deelarchief}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_reeks">
          <div class="field-label is-normal">
            <label class="label">Reeks</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="seizoen" 
                  class="input is-small" 
                  type="text" 
                  placeholder="Reeks" 
                  value="{{titel_reeks}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_deelreeks">
          <div class="field-label is-normal">
            <label class="label">Deelreeks</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="deelreeks" 
                  class="input is-small" 
                  type="text" 
                  placeholder="Deelreeks" 
                  value="{{titel_deelreeks}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal" id="titel_registratie">
          <div class="field-label is-normal">
            <label class="label">Registratie</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="deelreeks" 
                  class="input is-small" 
                  type="text" 
                  placeholder="Registratie" 
                  value="{{titel_registratie}}"
                  readonly>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- right side -->
    </div> 
    <div class="clearfix"></div>
    <br/>
  </div> <!-- section wrapper div for hide/unhide -->




