<div class="field is-horizontal mt-5">
  <div class="field-label is-normal">
    <label class="label">
      Bijdrager(s)
      <button onclick="addPrdItem('prd_bijdragers', 'prd_bijdrager_input'); return false;" 
        class="button is-info is-small pu">+
      </button>
    </label>
  </div>
  <div class="field-body">
  </div>
</div>

{% macro select_option(label, value, attribute) %}
  {% if value == attribute %}
    <option value="{{value}}" selected>{{label}}</a>
  {% else %}
    <option value="{{value}}">{{label}}</a>
  {% endif %}
{% endmacro %}

<div id="prd_bijdragers" class="ml-5 pl-5">

  <!-- refactor into partial laterz -->
  <div class="field is-horizontal is-pulled-left" id="prd_bijdrager_input">
    <div class="field-body mr-5">
      <div class="select is-small">
        <select name="maker_attribute" id="bijdrager_attrib">

            {{ select_option('Aanwezig', 'Aanwezig', '') }}
            {{ select_option('Adviseur', 'Adviseur', '') }}
            {{ select_option('Afwezig', 'Afwezig', '') }}
            {{ select_option('Archivaris', 'Archivaris', '') }}
            
            {{ select_option('Arrangeur', 'Arrangeur', '') }}
            {{ select_option('ArtistiekDirecteur', 'ArtistiekDirecteur', '') }}
            {{ select_option('Assistent', 'Assistent', '') }}
            {{ select_option('Auteur', 'Auteur', '') }}
            {{ select_option('Belichting', 'Belichting', '') }}
            {{ select_option('Cameraman', 'Cameraman', '') }}
            {{ select_option('Co-producer', 'Co-producer', '') }}
            {{ select_option('Commentator', 'Commentator', '') }}
            {{ select_option('Componist', 'Componist', '') }}
            {{ select_option('DecorOntwerper', 'DecorOntwerper', '') }}
            {{ select_option('Digitaliseringspartner', 'Digitaliseringspartner', '') }}
            {{ select_option('Dirigent', 'Dirigent', '') }}
            {{ select_option('Dramaturg', 'Dramaturg', '') }}
            {{ select_option('Fotografie', 'Fotografie', '') }}
            {{ select_option('Geluid ', 'Geluid ', '') }}
            {{ select_option('Geluidsman', 'Geluidsman', '') }}
            {{ select_option('GrafischOntwerper', 'GrafischOntwerper', '') }}
            {{ select_option('KostuumOntwerper', 'KostuumOntwerper', '') }}
            {{ select_option('Kunstenaar', 'Kunstenaar', '') }}
            {{ select_option('Make-up', 'Make-up', '') }}
            {{ select_option('Muzikant', 'Muzikant', '') }}
            {{ select_option('Nieuwsanker', 'Nieuwsanker', '') }}
            {{ select_option('Omroeper', 'Omroeper', '') }}
            {{ select_option('Onderzoeker', 'Onderzoeker', '') }}
            {{ select_option('Post-productie', 'Post-productie', '') }}
            {{ select_option('Producer', 'Producer', '') }}
            {{ select_option('Reporter', 'Reporter', '') }}
            {{ select_option('Scenarist', 'Scenarist', '') }}
            {{ select_option('Soundtrack', 'Soundtrack', '') }}
            {{ select_option('Sponsor', 'Sponsor', '') }}
            {{ select_option('TechnischAdviseur', 'TechnischAdviseur', '') }}
            {{ select_option('Uitvoerder', 'Uitvoerder', '') }}
            {{ select_option('Verontschuldigd', 'Verontschuldigd', '') }}
            {{ select_option('Vertaler', 'Vertaler', '') }}
            {{ select_option('Verteller', 'Verteller', '') }}
            {{ select_option('Voorzitter', 'Voorzitter', '') }}

        </select>
      </div>

      <input name="bijdrager_custom_" 
             id="bijdrager_val_"
             class="input is-small ml-2 narrow-input" 
             type="text" placeholder="" 
             value="">

      <button class="button delete is-danger prd-del-btn"
        onclick="deletePrdItem(this); return false;">
      </button>
    </div> <!-- field-body -->

  </div> <!-- field -->


  {% for contributor in contributors: %}
  <div class="field is-horizontal is-pulled-left mr-2" id="prd_bijdrager_input_{{loop.index}}">
      
      <div class="field-body">
        <div class="select is-small">
          <select name="maker" id="contributor_input_{{loop.index}}">

            {{ select_option('Aanwezig', 'Aanwezig', contributor['attribute']) }}
            {{ select_option('Adviseur', 'Adviseur', contributor['attribute']) }}
            {{ select_option('Afwezig', 'Afwezig', contributor['attribute']) }}
            {{ select_option('Archivaris', 'Archivaris', contributor['attribute']) }}
            
            {{ select_option('Arrangeur', 'Arrangeur', contributor['attribute']) }}
            {{ select_option('ArtistiekDirecteur', 'ArtistiekDirecteur', contributor['attribute']) }}
            {{ select_option('Assistent', 'Assistent', contributor['attribute']) }}
            {{ select_option('Auteur', 'Auteur', contributor['attribute']) }}
            {{ select_option('Belichting', 'Belichting', contributor['attribute']) }}
            {{ select_option('Cameraman', 'Cameraman', contributor['attribute']) }}
            {{ select_option('Co-producer', 'Co-producer', contributor['attribute']) }}
            {{ select_option('Commentator', 'Commentator', contributor['attribute']) }}
            {{ select_option('Componist', 'Componist', contributor['attribute']) }}
            {{ select_option('DecorOntwerper', 'DecorOntwerper', contributor['attribute']) }}
            {{ select_option('Digitaliseringspartner', 'Digitaliseringspartner', contributor['attribute']) }}
            {{ select_option('Dirigent', 'Dirigent', contributor['attribute']) }}
            {{ select_option('Dramaturg', 'Dramaturg', contributor['attribute']) }}
            {{ select_option('Fotografie', 'Fotografie', contributor['attribute']) }}
            {{ select_option('Geluid ', 'Geluid ', contributor['attribute']) }}
            {{ select_option('Geluidsman', 'Geluidsman', contributor['attribute']) }}
            {{ select_option('GrafischOntwerper', 'GrafischOntwerper', contributor['attribute']) }}
            {{ select_option('KostuumOntwerper', 'KostuumOntwerper', contributor['attribute']) }}
            {{ select_option('Kunstenaar', 'Kunstenaar', contributor['attribute']) }}
            {{ select_option('Make-up', 'Make-up', contributor['attribute']) }}
            {{ select_option('Muzikant', 'Muzikant', contributor['attribute']) }}
            {{ select_option('Nieuwsanker', 'Nieuwsanker', contributor['attribute']) }}
            {{ select_option('Omroeper', 'Omroeper', contributor['attribute']) }}
            {{ select_option('Onderzoeker', 'Onderzoeker', contributor['attribute']) }}
            {{ select_option('Post-productie', 'Post-productie', contributor['attribute']) }}
            {{ select_option('Producer', 'Producer', contributor['attribute']) }}
            {{ select_option('Reporter', 'Reporter', contributor['attribute']) }}
            {{ select_option('Scenarist', 'Scenarist', contributor['attribute']) }}
            {{ select_option('Soundtrack', 'Soundtrack', contributor['attribute']) }}
            {{ select_option('Sponsor', 'Sponsor', contributor['attribute']) }}
            {{ select_option('TechnischAdviseur', 'TechnischAdviseur', contributor['attribute']) }}
            {{ select_option('Uitvoerder', 'Uitvoerder', contributor['attribute']) }}
            {{ select_option('Verontschuldigd', 'Verontschuldigd', contributor['attribute']) }}
            {{ select_option('Vertaler', 'Vertaler', contributor['attribute']) }}
            {{ select_option('Verteller', 'Verteller', contributor['attribute']) }}
            {{ select_option('Voorzitter', 'Voorzitter', contributor['attribute']) }}
          </select>
        </div>

        <input name="bijdrager_custom_{{loop.index}}" 
               id="bijdrager_val_{{loop.index}}"
          class="input is-small ml-2 narrow-input"
          type="text" placeholder=""
          value="{{contributor['value']}}">

        <button class="button delete is-danger prd-del-btn" 
          onclick="deletePrdItem(this); return false;">
        </button>

      </div> <!-- field-body -->
    </div> <!--field-->
  {% endfor %}
</div> <!-- bijdrager list -->

<div class="is-clearfix"></div>


