<div class="mt-5 mb-2">
  <h3 class="prd-subtitle subtitle">Bijdrager(s)</h3>
  <button onclick="addPrdItem('prd_bijdragers', 'prd_bijdrager'); return false;" 
      class="button is-info is-small">+
  </button>
</div>

{% from 'metadata/components/select_option.html' import select_option %}
          
<div class="field has-addons prd-widget" id="prd_bijdrager">
  <div class="control mr-2">
    <span class="select is-small">
      <select name="prd_maker_attribute" id="prd_bijdrager_attribute">
      {% for option_val in contributor_options %}
        {{- select_option(option_val, option_val, '') }}
      {% endfor %}
      </select>
    </span>
  </div>
  <div class="control mr-2 full-width">
    <input name="prd_bijdrager_value" 
           id="prd_bijdrager_value"
           class="input is-small" 
           type="text" placeholder="" 
           value="">
  </div>
  <div class="control mr-1">
    <a class="is-small button is-danger" onclick="deletePrdItem(this); return false;">
      x 
    </a>
  </div>
</div>


<div class="prd-widget-list" id="prd_bijdragers">
  {% for contributor in contributors: %}
  <div class="field has-addons prd-widget" id="prd_bijdrager_{{loop.index}}">
    <div class="control mr-2">
      <span class="select is-small">
        <select name="prd_bijdrager_attribute_{{loop.index}}" id="prd_bijdrager_attribute_{{loop.index}}">
        {% for option_val in contributor_options %}
          {{- select_option(option_val, option_val, contributor['attribute']) }}
        {% endfor %}

        {% if contributor['attribute'] not in contributor_options %}
          <option value="{{contributor['attribute']}}" selected>{{contributor['attribute']}}</a>
        {% endif %} 
        </select>
      </span>
    </div>
    <div class="control mr-2 full-width">
      <input name="prd_bijdrager_value_{{loop.index}}" 
             id="prd_bijdrager_value_{{loop.index}}"
             class="input is-small mr-1" 
             type="text" placeholder="" 
             value="{{contributor['value']}}">
    </div>
    <div class="control mr-1">
      <a class="is-small button is-danger" onclick="deletePrdItem(this); return false;">
        x 
      </a>
    </div>
  </div>
  {% endfor %}
</div> <!-- bijdrager list -->

<div class="is-clearfix"></div>
