{% from 'metadata/components/textarea_readonly.html' import textarea_readonly%}

  <div class="columns">
    <div class="column">
      <h2 class="title is-clickable" onclick="sectionToggle('inhoud_section')">
        Inhoud
        <div class="minimize-icon-wrapper" id="inhoud_section_icon">
          <span class="icon-unfolded">
            <ion-icon name="chevron-down-circle-outline"></ion-icon>
          </span>
          <span class="icon-folded">
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </span>
        </div>
      </h2>
      <hr/>

      <div id="inhoud_section">


        {{- textarea_readonly('Hoofdbeschrijving', 'originele_hoofdbeschrijving', description) }}
        {{- textarea_readonly(
          'Uitgebreide beschrijving', 
          'originele_uitgebreide_hoofdbeschrijving', 
          dc_description_lang) 
        }}
        {{- textarea_readonly('Ondertitels', 'ondertitels', ondertitels) }}
        {{- textarea_readonly('Programmabeschrijving', 'programma_beschrijving', programma_beschrijving) }}
        {{- textarea_readonly('Cast', 'cast', cast) }}
        {{- textarea_readonly('Transcriptie', 'transcriptie', transcriptie) }}

       
        <article class="panel">
          <p class="panel-heading">
            Beschrijving Het Archief voor Onderwijs
          </p>
          <div class="panel-block" id="avo_beschrijving_panel">
            <div class="richtext-wrapper" id="richtext_bounds">
              <div id="redactietool-richtext-editor">{{avo_beschrijving | safe}}</div> 
           </div>
          </div>

          <textarea name="avo_beschrijving"
                  id="avo_beschrijving"
                  class="textarea is-hover hidden" 
                  placeholder="AVO beschrijving" 
                  cols="45"
                  rows="10">{{avo_beschrijving}}</textarea>
        </article>


      </div> <!-- inhoud_section -->

    </div>
  </div>

<script>
  function richtext_changed(){
    var editor_div = document.getElementById("redactietool-richtext-editor");
    if(editor_div){
      var html_content = editor_div.firstChild.innerHTML

      // for html output
      // var editor_form_target = document.getElementById("avo_beschrijving");
      // if(editor_form_target){
      //   editor_form_target.value = html_content;
      // }

      // for markdown output
      var markdown_target = document.getElementById("avo_beschrijving");
      if(markdown_target){
        var markdown = turndownService.turndown(html_content);
        // remove extra whitespace from markdown
        markdown_target.value = markdown.split("\n\n  \n\n").join("\n\n");
      }
    }
  }

  var turndownService = new TurndownService();
  var quill = new Quill('#redactietool-richtext-editor', {
    modules: {
      toolbar: [
        // [{ header: [2, false] }],
        // ['bold', 'italic', 'underline'],
        ['bold', 'italic'], 
        [{'list': 'ordered'}, {'list': 'bullet'}, {'link': 1}],
        ['clean']
      ]
    },
    // markdown has no undrline and header also not supported in avo
    // formats: ['header', 'bold', 'italic', 'underline', 'link', 'list'], 
    formats: ['bold', 'italic', 'link', 'list'],
    bounds: '#richtext_bounds',
    placeholder: 'AVO beschrijving',
    theme: 'snow'
  });

  //only plaintext when pasting
  quill.clipboard.addMatcher(Node.ELEMENT_NODE, (node, delta) => {
    let ops = []
    delta.ops.forEach(op => {
      if (op.insert && typeof op.insert === 'string') {
        ops.push({
          insert: op.insert
        })
      }
    })
    delta.ops = ops
    return delta
  })

  // only supported nodes when pasting
  // quill.clipboard.addMatcher(Node.ELEMENT_NODE, (node, delta) => {
  // delta.ops = delta.ops.map(op => {
  //   return {
  //     insert: op.insert
  //   }
  // })
  // return delta
  // })

 
  document.addEventListener('DOMContentLoaded', () => {
   richtext_changed();
   quill.on('editor-change', function(eventName, ...args) {
      richtext_changed(); 
    });
  });

</script>

