
  <div class="columns">
    <div class="column">
      <h2 class="title is-clickable" onclick="sectionToggle('inhoud_section')">
        Inhoud
        <div class="minimize-icon-wrapper" id="inhoud_section_icon">
          <span class="icon-unfolded">
            <ion-icon name="chevron-down-circle-outline"></ion-icon>
          </span>
          <span class="icon-folded">
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </span>
        </div>
      </h2>
      <hr/>

      <div id="inhoud_section">
        <article class="panel">
           <p class="panel-heading">
             Hoofdbeschrijving
           </p>
           <div class="panel-block">
             <p class="control">
               <textarea name="originele_hoofdbeschrijving"
                 id="originele_hoofdbeschrijving"
                 class="textarea is-hover" 
                 placeholder="Originele hoofdbeschrijving"
                 cols="45"
                 rows="5" readonly>{{description}}</textarea>
             </p>

           </div>
        </article>

        <article class="panel">
          <p class="panel-heading">
            Uitgebreide beschrijving
          </p>
          <div class="panel-block">
            <p class="control">
              <textarea name="originele_uitgebreide_hoofdbeschrijving"
                id="originele_uitgebreide_hoofdbeschrijving"
                class="textarea is-hover" 
                placeholder="Originele uitgebreide hoofdebeschrijving"
                cols="45"
                rows="5" readonly>{{dc_description_lang}}</textarea>
            </p>
          </div>
        </article>

        <article class="panel">
          <p class="panel-heading">
            Ondertitels
          </p>
          <div class="panel-block">
            <p class="control">
              <textarea name="ondertitels"
                id="ondertitels"
                class="textarea is-hover" 
                placeholder="Ondertitles (read-only)" 
                cols="45"
                rows="5" readonly>{{ondertitels}}</textarea>
            </p>
          </div>
        </article>

        <article class="panel">
          <p class="panel-heading">
            Programma beschrijving
          </p>
          <div class="panel-block">
            <p class="control">
              <textarea name="programma_beschrijving"
                id="programma_beschrijving"
                class="textarea is-hover" 
                placeholder="Programma omschrijving (read-only)" 
                cols="45"
                rows="5" readonly>{{programma_beschrijving}}</textarea>
            </p>
          </div>
        </article>

        <article class="panel">
          <p class="panel-heading">
            Cast 
          </p>
          <div class="panel-block">
            <p class="control">
              <textarea name="cast"
                id="cast"
                class="textarea is-hover" 
                placeholder="Cast (read-only)" 
                cols="45"
                rows="5" readonly>{{cast}}</textarea>
            </p>
          </div>
        </article>

        <article class="panel">
          <p class="panel-heading">
            Transcriptie
          </p>
          <div class="panel-block">
            <p class="control">
              <textarea name="transcriptie"
                id="transcriptie"
                class="textarea is-hover" 
                placeholder="Transcriptie (read-only)" 
                cols="45"
                rows="5" readonly>{{transcriptie}}</textarea>
            </p>

          </div>
        </article>

        <!-- deze is een editable panel en in toekomst wss een rich text edit indien nog gewenst -->
        <article class="panel">
          <p class="panel-heading">
            Het archief voor Onderwijs beschrijving
          </p>
          <div class="panel-block" id="avo_beschrijving_panel">
            <div class="richtext-wrapper" id="richtext_bounds">
              <div id="redactietool-richtext-editor">{{avo_beschrijving | safe}}</div> 
           </div>
          </div>

          <textarea name="avo_beschrijving"
                  id="avo_beschrijving"
                  class="textarea is-hover hidden" 
                  placeholder="AVO beschrijving" 
                  cols="45"
                  rows="10">{{avo_beschrijving}}</textarea>
        </article>


      </div> <!-- inhoud_section -->

    </div>
  </div>

<script>
  function richtext_changed(){
    var editor_div = document.getElementById("redactietool-richtext-editor");
    if(editor_div){
      var html_content = editor_div.firstChild.innerHTML

      // for html output
      // var editor_form_target = document.getElementById("avo_beschrijving");
      // if(editor_form_target){
      //   editor_form_target.value = html_content;
      // }

      // for markdown output
      var markdown_target = document.getElementById("avo_beschrijving");
      if(markdown_target){
        var markdown = turndownService.turndown(html_content);
        markdown_target.value = markdown;
      }
    }
  }

  var turndownService = new TurndownService();
  // turndownService.addRule('strikethrough', {
  //   filter: ['del', 's', 'strike'],
  //   replacement: function (content) {
  //     return '~' + content + '~'
  //   }
  // })
  var quill = new Quill('#redactietool-richtext-editor', {
    modules: {
      toolbar: [
        [{ header: [2, false] }],
        // ['bold', 'italic', 'underline'],
        ['bold', 'italic'], // markdown has no underline
        ['link']
      ]
    },
    // formats: ['header', 'bold', 'italic', 'underline', 'link', 'list'], //markdown has no undrline
    formats: ['header', 'bold', 'italic', 'link', 'list'],
    bounds: '#richtext_bounds',
    placeholder: 'AVO beschrijving',
    theme: 'snow'
  });

  quill.on('editor-change', function(eventName, ...args) {
    richtext_changed(); 
  });

  document.addEventListener('DOMContentLoaded', () => {
      richtext_changed();
  });

</script>

