{%- macro input(label, name, value) %}
<div class="field is-horizontal" id="{{name}}">
  <div class="field-label is-normal">
    <label class="label">{{label}}</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input name="{{name}}" 
          class="input is-small" 
          type="text" 
          placeholder="{{label}}"
          value="{{value}}"
          onchange="metadataInputChanged('{{name}}');"
          >
      </div>
    </div>
  </div>
</div>
{%- endmacro %}

