
<div class="mt-5">
  <h3 class="prd-subtitle subtitle">Maker(s)</h3>
  <button onclick="addPrdItem('prd_makers', 'prd_maker'); return false;" 
    class="button is-info is-small pu mb-2">+
  </button>
</div>

{% from 'metadata/components/select_option.html' import select_option %}

<div class="field has-addons prd-widget" id="prd_maker">
  <div class="control mr-2">
    <span class="select is-small">
      <select name="prd_maker_attribute" id="prd_maker_attribute">
      {% for option_val in maker_options %}
        {{- select_option(option_val, option_val, '') }}
      {% endfor %}
      </select>
    </span>
  </div>
  <div class="control mr-2 full-width">
    <input name="prd_maker_value" 
           id="prd_maker_value"
           class="input is-small" 
           type="text" placeholder="" 
           value="">
  </div>
  <div class="control mr-1">
    <a class="is-small button is-danger" onclick="deletePrdItem(this); return false;">
      x 
    </a>
  </div>
</div>


<div id="prd_makers" class="prd-widget-list">
  {% for maker in makers: %}
  <div class="field has-addons prd-widget" id="prd_maker_{{loop.index}}">
    <div class="control mr-2">
      <span class="select is-small">
        <select name="prd_maker_attribute_{{loop.index}}" id="prd_maker_attribute_{{loop.index}}">
        {% for option_val in maker_options %}
          {{- select_option(option_val, option_val, maker['attribute']) }}
        {% endfor %}

        {% if maker['attribute'] not in maker_options %}
          <option value="{{maker['attribute']}}" selected>{{maker['attribute']}}</a>
        {% endif %}
        </select>
      </span>
    </div>
    <div class="control mr-2 full-width">
      <input name="prd_maker_value_{{loop.index}}" 
             id="prd_maker_value_{{loop.index}}"
             class="input is-small mr-1" 
             type="text" placeholder="" 
             value="{{maker['value']}}">
    </div>
    <div class="control mr-1">
      <a class="is-small button is-danger" onclick="deletePrdItem(this); return false;">
        x 
      </a>
    </div>
  </div>
  {% endfor %}
</div>

<div class="is-clearfix"></div>
