<div class="mt-5">
  <h3 class="prd-subtitle subtitle">Publisher(s)</h3>
  <button onclick="addPrdItem('prd_publishers', 'prd_publisher'); return false;" 
      class="button is-info is-small pu mb-2">+
  </button>
</div>

{% from 'metadata/components/select_option.html' import select_option %}

<div class="field has-addons prd-widget" id="prd_publisher">
  <div class="control mr-2">
    <span class="select is-small">
      <select name="prd_publisher_attribute" id="prd_publisher_attribute"> 
      {% for option_val in publisher_options %}
        {{- select_option(option_val, option_val, '') }}
      {% endfor %}
      </select>
    </span>
  </div>
  <div class="control mr-2 full-width">
    <input name="prd_publisher_value" 
           id="prd_publisher_value"
           class="input is-small" 
           type="text" placeholder="" 
           value="">
  </div>
  <div class="control mr-1">
    <a class="is-small button is-danger" onclick="deletePrdItem(this); return false;">
      x 
    </a>
  </div>
</div>


<div id="prd_publishers" class="prd-widget-list">
  {% for publisher in publishers: %}
  <div class="field has-addons prd-widget" id="prd_publisher_{{loop.index}}">
    <div class="control mr-2">
      <span class="select is-small">
        <select 
          name="prd_publisher_attribute_{{loop.index}}" 
          id="prd_publisher_attribute_{{loop.index}}">
        {% for option_val in publisher_options %}
          {{- select_option(option_val, option_val, publisher['attribute']) }}
        {% endfor %}

        {% if publisher['attribute'] not in publisher_options %}
          <option value="{{publisher['attribute']}}" selected>{{publisher['attribute']}}</a>
        {% endif %}

        </select>
      </span>
    </div>
    <div class="control mr-2 full-width">
      <input name="prd_publisher_value_{{loop.index}}" 
             id="prd_publisher_value_{{loop.index}}"
             class="input is-small mr-1" 
             type="text" placeholder="" 
             value="{{publisher['value']}}">
    </div>
    <div class="control mr-1">
      <a class="is-small button is-danger" onclick="deletePrdItem(this); return false;">
        x 
      </a>
    </div>
  </div>
  {% endfor %}
</div>

<div class="is-clearfix"></div>


