<!-- TODO: this needs to become dynamic -->
<div class="columns">
  <div class="column">
    <article class="panel">
      <p class="panel-heading">
        Originele hoofdbeschrijving
      </p>
      <div class="panel-block">
        <p class="control">
          <textarea name="originele_hoofdbeschrijving"
            class="textarea is-hover" 
            placeholder="Originele hoofdbeschrijving (disabled)" 
            cols="45"
            rows="5"></textarea>
        </p>

      </div>
    </article>
  </div>
</div>

